@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  height: 100%;
}

.container {
  height: 100%;
}

hr {
  border-color:#141e30;
  border: 1px solid #141e30;
}

.comment {
  background: #223750;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
}

.comments {
  background-color: rgb(20, 30, 48);
  padding: 1rem;
  color: white;
  border-radius: 4px;
  border: 1px solid #2d4673;
}

.avatar {
  margin-top: 1.5rem;
  border-radius: 50%;
}

.cards {
  background-color: #141e30;
  padding: .75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:white;
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
  pointer-events: none;
  border-radius: 2px;
}

p img {
  margin: auto;
  display:block;
}

h2.title, h3.title {
  color: #007bff;
  text-align: center;
}

.ad {
  margin: 1rem;
}

.navbar {
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0 black;
  background-color: #141E30;
}

.card-title {
  margin-bottom: 0
}

.fa-bars {
  color: #007bff;
}

button:focus {
  outline: 5px auto #007bff;
}

li {
  font-weight: 600;
}

.card-img-top {
  object-fit: cover;
  width:100%;
  max-height: 120px;
  min-height: 180px;
}

.hero {
  margin-top: 60px;
  position: static;
}

.card {
  border-radius: 2px;
  background-color: rgba(8, 13, 120, 0.05);
  box-shadow: 0 0 2px 0 black;
  margin-bottom: 20px;
}


.footer-block {
  margin: 1rem;
}

.footer {
  border: 2px solid transparent;
  box-shadow: 0 0 20px 0 black;
  background-color: #141E30;
  padding: 15px 20px 0 20px;
}

.zoom {
  position: relative;
  overflow: hidden;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.zoom img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.card-block a:hover {
  text-decoration: none;
}

.card-block small {
  font-size: 70%;
}

.card-block {
  padding: .8rem;
}

.outline {
    border-radius: 2px;
    background-color: rgba(8, 13, 120, 0.05);
    box-shadow: 0 0 2px 0 black;
    margin-bottom: 20px;
    padding: 1rem;
}

.card-hover {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.card-hover:focus, .card-hover:hover {
  color: #0056b3 !important;
  cursor: pointer !important;
}

.tooltip-inner {
  color: transparent;
  text-align: center;
  background-color: transparent;
  width: 100%;
}

.tooltip-inner img {
  max-width: 250px;
}

.tooltip.in, .tooltip {
  opacity: 1 !important;
  filter:alpha(opacity=100);
}



.outline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
  pointer-events: none;
  border-radius: 2px;
}

#ad1layout, #ad2layout {
  display: none;
  width: 100%;
  padding: 20px 10px;
  background: #243B55;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
  }
#ad2layout {
  background: #2a486b;
}

@media only screen and (max-width: 768px) {

  .hero {
    margin-top: 50px;
    position: static;
  } 
  
  .col-12.card-deck.header {
    max-width: 50%;
  }
  .card-img-top {
    max-height: 100px;
    min-height: 100px;
}
}

/*extra small - max width */
@media (max-width: 767px) {
  
  /*.hidden-xs { display: none!important; } */
  .mrec-xs { width:300px; height:250px; }
  .leaderboard-xs { width:728px; height:90px; }
  .mobile-xs { width:320px; height:50px; }
  .skyscraper-xs { width:120px; height:600px; }
  .banner-xs { width:468px; height:60px; }
  }
  
  /* small */
  @media (min-width: 768px) and (max-width: 991px) {
  
  /*.hidden-sm { display: none!important; } */
  .mrec-sm { width:300px; height:250px; }
  .leaderboard-sm { width:728px; height:90px; }
  .mobile-sm { width:320px; height:50px; }
  .skyscraper-sm { width:120px; height:600px; }
  .banner-sm { width:468px; height:60px; }
  }
  
  /* medium */
  @media (min-width: 992px) and (max-width: 1199px) {
  
  /*.hidden-md { display: none!important; } */
  .mrec-md { width:300px; height:250px; }
  .leaderboard-md { width:728px; height:90px; }
  .mobile-md { width:320px; height:50px; }
  .skyscraper-md { width:120px; height:600px; }
  .banner-md { width:468px; height:60px; }
  }
  
  /* large */
  @media (min-width: 1200px) {
  
  /*.hidden-lg { display: none!important; } */
  .mrec-lg { width:300px; height:250px; }
  .leaderboard-lg { width:728px; height:90px; }
  .mobile-lg { width:320px; height:50px; }
  .skyscraper-lg { width:120px; height:600px; }
  .banner-lg { width:468px; height:60px; }
  }