---
layout: blog
title: Warriors Control
author: bot
comments: true
permalink: /top-decks/October-2017/control-decks/warriors-control-by-b-rian7/
---

{% assign deck = site.data.top-decks.2017.10.control-decks.b-rian7 %}
<div class='deck-page'>
  {% include deck.html deck=deck showStats=true %}
  {% if deck.notes != null %}
      <h2>Notes from {{deck.author}}</h2>
      {% for note in deck.notes %}
          <div class='section deck-notes'>
              <h4>{{note.title}}</h4>
              <p>{{note.text}}</p>
        </div>
      {% endfor %}
  {% endif %}
  <a style='margin: 1rem 0;' class='btn btn-primary' href='/top-decks/'' role='button'><i class='fa fa-arrow-left' aria-hidden='true'></i> Back to Top Decks</a>
</div>
