---
layout: blog
author: bot
comments: true
permalink: /top-decks/january-2018/gladiator-beasts/glad-by-warsaw/
---

{% assign deck = site.data.top-decks.2018.01.gladiator-beasts.warsaw %}
<div class='deck-page'>
  {% include deck.html deck=deck showHeader=true showStats=true %}
  <script>var playtest = {{deck | jsonify}}</script>
  {% if deck.notes != null and deck.notes.size > 0  and deck.notes[0].text != '' %}
    <div class='section deck-notes'>
      <h2>Notes from {{deck.author}}</h2>
      {% for note in deck.notes %}
        <h4>{{note.title}}</h4>
        <p>{{note.text}}</p>
     {% endfor %}
    </div>
  {% endif %}
  {% if deck.video != null and deck.video != '' %}
    <div class='section'>
      <h2>Video</h2>
      {% include youtube-video.html url=deck.video %}
    </div>
  {% endif %}
  <a style='margin: 1rem 0;' class='btn btn-primary' href='/top-decks/' role='button'><i class='fa fa-arrow-left' aria-hidden='true'></i> Back to Top Decks</a>
</div>
