<div class="col-12 ad-container">
    <div id="ad1layout">
        Our website is made possible by displaying online advertisements to our visitors.<br>
        Please consider supporting us by disabling your ad blocker.
      </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- new site R -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6240311116200484"
           data-ad-slot="4266653230"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
</div>
