<div class="col-12 text-center" style="margin:2rem 0;">
    <div id="ad1layout">
        Our website is made possible by displaying online advertisements to our visitors.<br>
        Please consider supporting us by disabling your ad blocker.
      </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- general -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6240311116200484"
         data-ad-slot="1739282656"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
