<div class="col-sm-6 col-12 card-deck hiddenCard" style="display: none;" id="articleCard">
    <div class="card">
        <div class="zoom">
            <a id="articleImageAnchor"> 
                <img id="articleImage" class="card-img-top lazyload" />
            </a>
        </div>
        <div class="card-block text-white">
            <a id="articleInfoAnchor">
                <h4 id="articleInfoTitle" class="card-title"></h4>
            </a>
            <div class="text-white">
                <small id="articleAuthor" class="text-muted"></small>
            </div>
        </div>
    </div>  
</div>