{% assign cards = site.data.cardsdb %}

{% for card in cards %}
{% if card.name == include.cardname.name %}
        <div class="col-sm-2 text-center"><p><small><b>{{item.name}}</b></small></p>
            <img class="rarity lazyload" src="{{site.url}}/img/{{item.rarity}}.png" />
            <img src="https://yugiohprices.com/api/card_image/{{card.name}}" class="img-fluid lazyload" style="margin-bottom: 1rem;" />
       </div>
        <div class="col-sm-4"><p>{{card.desc}}</p></div>

{% endif %}
{% endfor %}
