<div class="flex-container">
    <div class="deck-container left box-review">
        <div id="deck">
            <div id="cards">
                {% for card in include.box %}
                    {% if card.rarity == include.rarity %}
                        <div class="item">
                            <a><img class="dcards" name="cardPopup" src="http://images.weserv.nl/?url=yugiohprices.com/api/card_image/{{ card.name | url_encode }}&w=140&il&q=95" alt="{{card.name}}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>