<div class="text-center text-white text-center" style="margin-bottom: 1rem;">
  <h2>LATEST ARTICLES</h2>
</div>

<div class="row card-collection" id="articleCardCollection">
  {% for article in site.posts %}
    {% if article.category != 'page' and article.pinned == true %}
      {% if article.hide == null or article.hide == false %}
        {% capture _ %}{% increment counter %}{% endcapture %}
        <div class="col-sm-6 col-12 card-deck">
          <div class="card">
            <div class="zoom">
              <a href="{{article.url}}" class="gallerypic" title="">
                <img src="{{article.image}}" data-src="{{article.image}}" class="card-img-top lazyload" />
                <img src="/img/assets/featured.png" class="featured-icon">
              </a>
            </div>
            <div class="card-block text-white">
              <a href="{{article.url}}">
                <h4 class="card-title">{{article.title}}</h4>
              </a>
              <div class="text-white">
                <small class="text-muted">Last Updated: {{ article.date | timeago }}
                  {% if article.author == 'Dkayed' %}
                    By <b><a class="text-danger" href="/authors/{{article.author}}/">{{article.author}}</a></b> 
                  {% elsif article.author == 'Top Player Council' %}
                    By <b><a class="text-warning" href="/top-player-council/">{{article.author}}</a></b>
                  {% else %}
                    {% assign council = site.data.profiles | where: 'role', 'top-player-council' %}
                    {% for member in council %}
                        {% assign downcaseMember = member.name | downcase %}
                        {% assign downcaseAuthor = article.author | downcase %}
                        {% if downcaseMember == downcaseAuthor %}
                          {% assign councilMember = true %}
                          By <b><a class="text-warning" href="/top-player-council/{{ article.author | replace: " ", "_" }}/">{{article.author}}</a></b>
                          {% break %}
                        {% endif %}
                    {% endfor %}
                    {% unless councilMember %}
                      By <b><a class="text-warning" href="/authors/{{ article.author | replace: " ", "_" }}/">{{article.author}}</a></b>   
                    {% endunless %}
                    {% assign councilMember = false %}
                  {% endif %}
                </small>
              </div>
            </div>

          </div>
        </div>
        {% if counter >= 2 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for article in site.posts %}
    {% if article.category != 'page' %}
      {% if article.pinned == true %}
        {% capture _ %}{% increment pinnedPosts %}{% endcapture %}
      {% endif %}
      {% if article.pinned == null or article.pinned == false or pinnedPosts > 2 %}
        {% if article.hide == null or article.hide == false %}
          {% capture _ %}{% increment counter %}{% endcapture %}
          {% if counter > 12 %}  
            {% comment %} Don't load any additional cards, to save on load time {% endcomment %}
          {% elsif counter > 8 %}
            <div class="col-sm-6 col-12 card-deck hiddenCard" style="display: none;">
              <div class="card">
                  <div class="zoom">
                      <a href="{{article.url}}"> 
                          <img src="{{article.image}}" data-src="{{article.image}}" class="card-img-top lazyload" />
                      </a>
                  </div>
                  <div class="card-block text-white">
                    <a href="{{article.url}}">
                      <h4 class="card-title">{{article.title}}</h4>
                    </a>
                    <div class="text-white">
                      <small class="text-muted">Last Updated: {{ article.date | timeago }}
                        {% if article.author == 'Dkayed' %}
                          By <b><a class="text-danger" href="/authors/{{article.author}}/">{{article.author}}</a></b> 
                        {% elsif article.author == 'Top Player Council' %}
                          By <b><a class="text-warning" href="/top-player-council/">{{article.author}}</a></b>
                        {% elsif article.author == 'The Dev Team' %}
                          By <b><a class="text-warning" href="/about/">{{article.author}}</a></b>
                        {% else %}
                          {% assign council = site.data.profiles | where: 'role', 'top-player-council' %}
                          {% for member in council %}
                              {% assign downcaseMember = member.name | downcase %}
                              {% assign downcaseAuthor = article.author | downcase %}
                              {% if downcaseMember == downcaseAuthor %}
                                {% assign councilMember = true %}
                                By <b><a class="text-warning" href="/top-player-council/{{ article.author | replace: " ", "_" }}/">{{article.author}}</a></b>
                                {% break %}
                              {% endif %}
                          {% endfor %}
                          {% unless councilMember %}
                            By <b><a class="text-warning" href="/authors/{{ article.author | replace: " ", "_" }}/">{{article.author}}</a></b>   
                          {% endunless %}
                          {% assign councilMember = false %}
                        {% endif %}
                      </small>
                    </div>
                  </div>
              </div>  
            </div>
          {% else %}
            <div class="col-sm-6 col-12 card-deck">  
              <div class="card">
                  <div class="zoom">
                      <a href="{{article.url}}"> 
                          <img src="{{article.image}}" data-src="{{article.image}}" class="card-img-top lazyload" />
                      </a>
                  </div>
                  <div class="card-block text-white">
                    <a href="{{article.url}}">
                      <h4 class="card-title">{{article.title}}</h4>
                    </a>
                    <div class="text-white">
                      <small class="text-muted">Last Updated: {{ article.date | timeago }}
                        {% if article.author == 'Dkayed' %}
                          By <b><a class="text-danger" href="/authors/{{article.author}}/">{{article.author}}</a></b> 
                        {% elsif article.author == 'Top Player Council' %}
                          By <b><a class="text-warning" href="/top-player-council/">{{article.author}}</a></b>
                        {% elsif article.author == 'The Dev Team' %}
                          By <b><a class="text-warning" href="/about/">{{article.author}}</a></b>
                        {% else %}
                          {% assign council = site.data.profiles %}
                          {% for member in council %}
                            {% if member[1].role == "top-player-council" %}
                              {% assign downcaseMember = member[1].name | downcase %}
                              {% assign downcaseAuthor = article.author | downcase %}
                              {% if downcaseMember == downcaseAuthor %}
                                {% assign councilMember = true %}
                                By <b><a class="text-warning" href="/top-player-council/{{ article.author | replace: " ", "_"}}/">{{article.author}}</a></b>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          {% unless councilMember %}
                            By <b><a class="text-warning" href="/authors/{{ article.author | replace: " ", "_" }}/">{{article.author}}</a></b>   
                          {% endunless %}
                          {% assign councilMember = false %}
                        {% endif %}
                      </small>
                    </div>
                  </div>
              </div>  
            </div>
          {% endif %}        
        {% endif %}
      {% endif %}  
    {% endif %}
  {% endfor %}  
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 articleButtonColumn">
    <button id="moreArticles" type="button" class="btn btn-primary articleButton">More Articles</button>
  </div>
</div>