<div class="text-center text-white text-center" style="margin-bottom: 1rem;">
  <h2>LATEST ARTICLES</h2>
</div>

<div class="row card-collection">
  {% for article in site.posts %}
    {% if article.category != 'page' and article.pinned == true %}
      {% if article.hide == null or article.hide == false %}
        {% capture _ %}{% increment counter %}{% endcapture %}
        <div class="col-sm-6 col-12 card-deck">
          <div class="card">
            <div class="zoom">
              <a href="{{site.url}}{{article.url}}" class="gallerypic" title="">
                <img src="{{article.image}}" data-src="{{article.image}}" class="card-img-top lazyload" />
                <img src="/img/assets/featured.png" class="featured-icon">
              </a>
            </div>
            <div class="card-block text-white">
              <a href={{site.url}}{{article.url}}>
                <h4 class="card-title">{{article.title}}</h4>
              </a>
              <div class="text-white">
                      <small class="text-muted">Last Updated: {{ article.date | timeago }}
                      {% if article.author == 'Dkayed' %}
                      By <b><a class="text-danger" href={{site.url}}/authors/{{article.author}}.html>{{article.author}}</a></b> {% else %} <!-- TODO CHECK FIRST -->
                      By <b><a class="text-warning" href={{site.url}}/authors/{{article.author}}.html>{{article.author}}</a></b> {% endif %}
                    </small>
              </div>
            </div>

          </div>
        </div>
        {% if counter >= 2 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for article in site.posts %}
    {% if article.category != 'page' %}
      {% if article.pinned == true %}
        {% capture _ %}{% increment pinnedPosts %}{% endcapture %}
      {% endif %}
      {% if article.pinned == null or article.pinned == false or pinnedPosts > 2 %}
        {% if article.hide == null or article.hide == false %}
          {% capture _ %}{% increment counter %}{% endcapture %}
          {% if counter > 8 %}
            <div class="col-sm-6 col-12 card-deck hiddenCard" style="display: none;">
          {% else %}
            <div class="col-sm-6 col-12 card-deck">  
          {% endif %}
                <div class="card">
                  <div class="zoom">
                      <a href={{site.url}}{{article.url}}> 
                          <img src="{{article.image}}" data-src="{{article.image}}" class="card-img-top lazyload" />
                      </a>
                  </div>
                  <div class="card-block text-white">
                    <a href={{site.url}}{{article.url}}>
                      <h4 class="card-title">{{article.title}}</h4>
                    </a>
                    <div class="text-white">
                      <small class="text-muted">Last Updated: {{ article.date | timeago }}
                        {% if article.author == 'Dkayed' %}
                        By <b><a class="text-danger" href={{site.url}}/authors/{{article.author}}.html>{{article.author}}</a></b> {% else %}
                        By <b><a class="text-warning" href={{site.url}}/authors/{{article.author}}.html>{{article.author}}</a></b> {% endif %}
                      </small>
                    </div>
                  </div>
                </div>
              </div>          
        {% endif %}
      {% endif %}  
    {% endif %}
  {% endfor %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 articleButtonColumn">
    <button id="moreArticles" type="button" class="btn btn-primary articleButton">More Articles</button>
  </div>
</div>