<div class="col-12 cards">
    <div class="row">
        <div class="col-sm-2">Name</div>
        <div class="col-sm">Effect / How to Obtain</div>
        <div class="col-sm">Why</div>
    </div>
</div>

{% for item in include.deck %}
<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p><b>{{item.name}}</b></p>            <img
            src="https://{{item.image}}"
            data-src="https://{{item.image}}"
            class="card-img-top lazyload" style="margin-bottom: 1rem;" /></div>
        <div class="col-sm"><p>{{item.description}}</p> <p class="set"><b>Set:</b> {{item.set}}</p></div>
        <div class="col-sm">{{item.why}}</div>
    </div>
</div>

<hr />
{% endfor %}