<div class="row button-row">

    {% assign deck-types = include.deck-types | split: ';' %}

    {% for deck-type in deck-types %}

        {% for tier in site.data.tierlist %}
            {% for type in tier.types %}
                {% if type.id == deck-type %}
                    {% assign tier-type = type %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="btn-wrapper col-sm-6 col-md-4 col-lg-3">
            {% assign guide = site.data.deck-types.pages[{{tier-type.id}}] %}
            {% if guide != null %}
                <a class="btn-decktype" href="/tier-list/{{tier-type.id}}">
                    <img class="decktype-card" src="https://images.weserv.nl/?url=yugiohprices.com/api/card_image/{{ tier-type.card | url_encode }}&crop=72,72,15,30&w=100&q=100&il"/>
                    <span class="decktype-display">{{tier-type.display}}</span>
                </a>
            {% else %}
                <div class="btn-decktype">
                    <img class="decktype-card" src="https://images.weserv.nl/?url=yugiohprices.com/api/card_image/{{ tier-type.card | url_encode }}&crop=72,72,15,30&w=100&q=100&il"/>
                    <span class="decktype-display">{{tier-type.display}}</span>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>