<div class="flex-container {% if include.showHeader %}center{% endif %}">
    <div class="deck-container">
        {% if include.showHeader %}
            <div id="label"><b>{{deck.name | remove: '##' }}</b> by {{deck.author}} <br> <i>Added {{deck.created}}</i></div>
        {% endif %}
        {% if include.showStats %}
            <div class="skill"><img class="main" src="/img/assets/skill.png" alt="skill"> {{include.deck.skill}}</div>
        {% endif %}
        <div id="deck">
            <div id="cards">
                {% for card in include.deck.main %}
                    {% include deckbuild.html card=card %}
                {% endfor %}
                {% if include.deck.extra != null %}
                    {% for card in extra %}
                        {% include deckbuild.html card=card %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="stats">  
        {% if include.showStats == true %}
            {% assign amountOfMainCards = 0 %}
            {% for card in include.deck.main %}
                {% assign amountOfMainCards = amountOfMainCards | plus: card.amount %}
            {% endfor%}

            {% assign amountOfExtraCards = 0 %}
            {% for card in include.deck.extra %}
                {% assign amountOfExtraCards = amountOfExtraCards | plus: card.amount %}
            {% endfor%}
        {% endif %}
        <div class="mobile"></div>
    </div>
</div>
{% if include.showHeader %}
    <div class="text-center">
        <a style='margin: 1rem 0;' id="play" class='btn btn-success' role='button'><i class='fa fa-play-circle' aria-hidden='true'></i> Play Test Deck</a>
        <div id="playtest" title="Playtest Beta">
            <div class="game-board">
                <div class="stats">
                    <input type="button" value="Import" id="import">
                    <input type="button" value="Export" id="export">
                    <input type="button" value="New Hand" id="new">
                    <input type="button" value="View Deck" id="view">
                    <input type="button" value="Draw Card" id="deal">
                    <input type="button" value="Shuffle Deck" id="shuffle">
                    <div class="tools">
                        <img src="https://i.imgur.com/BYD9LdN.png" class="token"/>
                        <img src="https://i.imgur.com/1AJdr5l.png" alt="" class="coin">
                        <img src="https://i.imgur.com/oPHhyyo.png" alt="" class="dice">
                        <div style="display:inline-block"><span id="results"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABCAQAAAAoEQWKAAAADElEQVR42mNkGCAAAADyAAKG+BtxAAAAAElFTkSuQmCC"></span></div>
                    </div>
                </div>
                <div id="deckmenu" title="Cards in Deck"></div>
                <div class="testcard-slot-row">
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                </div>
                <div class="testcard-slot-row">
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"></div>
                    <div class="testcard-slot"><img src="http://img3.wikia.nocookie.net/__cb20130902115200/yugioh/images/e/ee/Back-ZX-Site.png" id="playerdeck" />
                        <div id="deckcount"><p></p></div>
                    </div>
                </div>
                <div id="hand">
                    <div class="game-board"></div>
                </div>
                <div class="export" title="Export Code"></div>
                <div class="import" title="Import Code"></div>
            </div>          
        </div>
    </div>
{% endif %}