{% assign cards = site.data.cardsdb[include.cardname.name] %}

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p><b>{{include.cardname.amount}}x {{item.name}}</b></p>
            <img
            src="https://images.weserv.nl/?url=yugiohprices.com/api/card_image/{{ cards.name | url_encode }}&w=200&il&q=95"
            data-src="https://images.weserv.nl/?url=yugiohprices.com/api/card_image/{{ cards.name | url_encode }}&w=200&il&q=95"
            class="img-fluid lazyload" style="margin-bottom: 1rem;" alt="{{ cards.name | url_encode }}"/>
       </div>
        <div class="col-sm"><p>{{cards.desc}}</p> <p class="set"><b>Set: </b>{{include.cardname.set}}</p></div>
        <div class="col-sm">{{include.cardname.why}}</div>
    </div>
</div>

<hr />

