{% assign deckType = site.data.top-decks | deckTypeDecks: {{include.deckType}} %}

{% for tier in site.data.tierlist %}
    {% for type in tier.types %}
        {% if type.id == include.deckType %}
            {% assign tiertype = type %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if deckType.size > 0 %}
<div class="section mb30">
    <h3>Latest top decks</h3>
    <table id="TopDecksTable" class="hover row-links">
        <thead>
            <tr>
                <th class="thumb-col"></th>
                <th>Deck Name</th>
                <th class="skill">Skill</th>
                <th class="author">Author</th>
                <th class="added">Added</th>
            </tr>
        </thead>
        <tbody>
            {% assign decks = deckType | sort_decks %}
            {% for deck in decks limit:10 %}
                {% assign start = deck[1].name | slice: 0, 2 %}
                {% if start != '##'  %}
                    {% assign deckName = deck[1].name %}
                {% else %}
                    {% assign deckName = deck[1].author | append: "'s " | append: tiertype.display | remove: " Decks" | append: " Deck" %}
                {% endif %}
                <tr>
                    <td class="thumb-col">
                        <a href="{{deck[1].url}}">
                            <div class="thumbnail">
                                <img src="{{ site.data.card-api | name: deck[1].main[0].name }}&crop=70,70,15,30&w=100" class="portrait" />
                            </div>
                        </a>
                    </td>
                    <td><a href="{{deck[1].url}}">{{deckName}}</a></td>
                    <td><a href="{{deck[1].url}}">{{deck[1].skill}}</a></td>
                    <td><a href="{{deck[1].url}}">{{deck[1].author}}</a></td>
                    <td><a href="{{deck[1].url}}">{{deck[1].created}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}