<div class="row button-row">

    {% assign deck-types = include.deck-types | split: ';' %}

    {% for deck-type in deck-types %}

        {% for tier in site.data.tierlist %}
            {% for type in tier.types %}
                {% if type.id == deck-type %}
                    {% assign tier-type = type %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="btn-wrapper col-sm-6 col-md-4 col-lg-3" >
            <a class="btn-decktype" href="/tier-list/{{tier-type.id}}">
                <img class="decktype-card" src= "https://yugiohprices.com/api/card_image/{{tier-type.card}}"/>
                <span class="decktype-display">{{tier-type.display}}</span>
            </a>
        </div>
    {% endfor %}
</div>