<div id="desktopPopup" style="display: none">
    <div class="desktopPopupImages">
        <img id="cardDesktopRarity" class="rarityCard"/>
        <img id="cardDesktopImage" class="cardPicBig"/>
    </div>    
    <div class="carddata">
        <p><b id="cardName"></b></p>
        <p id="cardAttribute" class="capitalize-text"></p>
        <p id="cardLevel"></p>
        <p id="cardType"></p>
        <p id="cardMaterials"></p>
        <p id="cardText"></p>
        <p id="cardAttackDefense"></p>
        <p><u>How To Obtain</u></p>
        <p id="cardObtain" class="capitalize-text"></p>     
    </div>
</div>

<div id="desktopPopupForSkills" style="display: none">
    <div class="previewSkill">
        <img id="previewSkillImage">
    </div>
    <div class="skilldata">
        <p><b id="skillName"></b></p>
        <p id="skillDescription"></p>
        <p id="skillExclusive"></p>
    </div>
</div>