
    <p class="text-center">
        <a href="/privacy-policy">Privacy</a> | <a href="/devteam">The Dev-Team</a> | <a href="/contact">Contact</a>
    </p>

    <!-- twitchnotification -->
    <div id="snackbar">
        <a target="_blank" href="https://www.twitch.tv/duellinksmeta">
            <div class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
            </div>
            <span id="liveMsg">DuelLinksMeta is live</span>
        </a>
    </div>