<head>

    {% include google-analytics.html %}

    {% if page.title != null and page.title != "" %}
        {% assign title = page.title %}
    {% else %}
        {% assign title = "Duel Links Meta" %}
    {% endif %}

    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#141e30">

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type"  content="website" />
    <meta property="og:url"   content="{{site.url}}{{page.url}}" />

    {% if page.image %}
        <meta property="og:image" content="{{site.url}}{{page.image}}" />
    {% endif %}

    {% if page.description %}
        <meta property="og:description" content="{{page.description}}" />
        <meta name="description" content="{{page.description}}">
    {% endif %}

    {% assign default-keywords = "duel links, duel links meta, yugioh duel links" %}

    {% if page.keywords %}
        <meta name="keywords" content="{{default-keywords}}, {{page.keywords}}">
    {% else %}
        <meta name="keywords" content="{{default-keywords}}, tier list, top decks, guides, tournaments, discord, farming">
    {% endif %}

    {% if page.url == "/" || page.url == "/admin/" %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <link rel="icon" sizes="192x192" href="{{site.url}}/img/logos/favicon.png">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:800" >     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oregano:400i" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.css">
    <link rel="stylesheet" href="{{site.url}}/css/easy-autocomplete.min.css">
    <link rel="stylesheet" href="{{site.url}}/css/style.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>--> <!-- WHY NOT IN SCRIPTS? -->
</head>