{% assign tier-list = site.posts | where: "permalink", "/tier-list/" | first %}
{% assign top-decks = site.posts | where: "permalink", "/top-decks/" | first %}
{% assign meta-cham = site.posts | where: "permalink", "/tournaments/meta-championship-series/" | first %}
{% assign top-playr = site.posts | where: "permalink", "/top-players/" | first %}
{% assign farm-even = site.posts | where: "permalink", "/farming-and-events/" | first %}
{% assign guidessss = site.posts | where: "permalink", "/guides/" | first %}


{% assign changelog = site.data.tierlist-changelog["tier-changes"] | sort: 'date' | reverse %}
{% assign tierListDate = changelog[0].date %}


{% assign years = site.data.top-decks | sort %}

{% for year in years %}               
  {% if year[0] != "pending" %}                  
    {% assign months = year[1] %}  
  {% endif %}
{% endfor %}

{% assign sorted_months = months | sort %}
{% for month in sorted_months %}
  {% assign current_month = month %}  
{% endfor %}

{% assign deck_types = current_month[1] %}
{% assign topDecksDate = "2016-01-01" | date: "%Y-%m-%d" %}

{% for deck_type in deck_types %}
  {% for deck in deck_type[1] %}
    {% assign currentCreated = deck[1].created | date: "%Y-%m-%d" %}
    {% if currentCreated > topDecksDate %}
      {% assign topDecksDate = currentCreated %}
    {% endif %}
  {% endfor %}
{% endfor %}


{% assign farmEvenDate = site.categories.event | where_exp: "item", "item.hidden != true" | map: "date" | sort | last %}
{% assign guidesssDate = site.posts | filter_guides | map: "date" | sort | last %}


<div class="row card-collection main-navigation">
  {% include articles/article.html article=tier-list options='3, 5, 6, 7' date=tierListDate %}
  {% include articles/article.html article=top-decks options='3, 5, 6, 7' date=topDecksDate %}
  {% include articles/article.html article=meta-cham options='3, 5, 6, 7' %}
  {% include articles/article.html article=top-playr options='3, 5, 6, 7' %}
  {% include articles/article.html article=farm-even options='3, 5, 6, 7' date=farmEvenDate %}
  {% include articles/article.html article=guidessss options='3, 5, 6, 7' date=guidesssDate %}
</div>
