<head>

    {% include header-scripts.html %}

    {% if page.title != null and page.title != "" %}
        {% assign title = page.title %}
    {% else %}
        {% assign title = "Duel Links Meta" %}
    {% endif %}

    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#141e30">

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type"  content="website" />
    <meta property="og:url"   content="{{site.url}}{{page.url}}" />

    {% if page.image %}
        <meta property="og:image" content="{{site.url}}{{page.image}}" />
    {% endif %}

    {% if page.description %}
        <meta property="og:description" content="{{page.description}}" />
        <meta name="description" content="{{page.description}}">
    {% endif %}

    {% assign default-keywords = "duel links, duel links meta, yugioh duel links" %}

    {% if page.keywords %}
        <meta name="keywords" content="{{default-keywords}}, {{page.keywords}}">
    {% else %}
        <meta name="keywords" content="{{default-keywords}}, tier list, top decks, guides, tournaments, discord, farming, events, mcs">
    {% endif %}

    <link rel="icon" sizes="192x192" href="/img/logos/favicon.png">  

    <!--Loading css asyc-->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"></noscript>
    
    <link rel="preload" href="/css/easy-autocomplete.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/easy-autocomplete.min.css"></noscript>

    <link rel="preload" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css"></noscript>
    
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css"></noscript>
   
    <script src="/js/cssrelpreload.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:800">     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oregano:400i" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Custom Styles Specific Pages-->
    {% if page.styles %}
        {% assign styles = page.styles | split: ',' %}
        {% for style in styles %}
            <link rel="stylesheet" href="/css/{{style}}">
        {% endfor%}
    {% endif %}
    
</head>