<div class="row card-collection">
  {% assign pages = site.categories.header | sort: "order" %}
  {% for page in pages %}
    <div class="col-sm-4 col-12 card-deck header">
      <div class="card">
        <div class="zoom">
          <a href={{site.url}}{{page.url}}> 
            {% if page.url == "/events/" %}
                {% for event in site.categories.event limit:1 %}
                <img src="{{event.image}}" class="card-img-top lazyload" />
              {% endfor %}
            {% else %}
              <img src="{{page.image}}" class="card-img-top lazyload" />
            {% endif %}
          </a>
        </div>
        <div class="card-block">
          <a href={{site.url}}{{page.url}}>
            <h4 class="card-title text-white">{{page.title}}</h4>
          </a>
          <div class="text-white">
            {% if page.title == "/tierlist/" %}
              {% assign changelog = site.data.tierlist-changelog["tier-changes"] | sort: 'date' | reverse %}
              {% assign firstDate = changelog[0].date %}
              {% assign fomattedFirstDate = firstDate | date: "%Y-%m-%d" %}
              {% assign formattedPageDate = page.date | date: "%Y-%m-%d" %}
              {% if fomattedFirstDate > formattedPageDate %}
                <small class="text-muted">Last Updated: {{ fomattedFirstDate | timeago }}</small>
              {% else %}
                <small class="text-muted">Last Updated: {{ formattedPageDate | timeago }}</small> 
              {% endif %}
            {% elsif page.title == "NEW EVENT" %}
              {% for event in site.categories.event limit:1 %}
                <small class="text-muted">Last Updated: {{ event.date | timeago }}</small>
              {% endfor %}
            {% else %}
              <small class="text-muted">Last Updated: {{ page.date | timeago }}</small>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
</div>