
{% if site.url contains site.ga-url %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga-code}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{site.ga-code}}');
    </script>
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6240311116200484",
        enable_page_level_ads: true
    });
</script>

<script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file";
    UPLOADCARE_PUBLIC_KEY = "8a0cf8abdd31cb4c0348";
</script>