<div class="row">
        <div class="col text-center">
          <img class="hero img-fluid" src="{{site.url}}/img/logo.png" alt="">
        </div>
      </div>

  
<div class="col-12">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- general -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6240311116200484"
         data-ad-slot="1739282656"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
