<div id="fancyboxSkillDiv" style="display: none;" class="fancyboxContainer">
    <div class="skillData skillContainer fancybox-loading"></div>
    <div id="skillFancybox" class="skillContainer row hideSkillContainer">
        <div class="col-sm-1 col-12"></div>
        <div id="characterImageContainer" class="col-sm-3 col-12 skillImage">
            <img id="characterImage"/>
        </div>
        <div class="col-sm-7 col-12 skillDataColumn">
            <div class="skillData">
                <b><p class="skillTitle" id="skillTitle"></p></b>
                <p id="skillDescription"></p>         
                <p id="skillExclusive"></p>
            </div>
        </div>
        <div class="col-sm-1 col-12"></div>
    </div>  
</div>

<div id="fancyboxCardDiv" style="display: none;" class="fancyboxContainer">
    <div class="skillData skillContainer fancybox-loading"></div>
    <div id="cardFancybox" class="row skillContainer hideSkillContainer">
        <div id="cardImageColumn" class="col-sm-3 col-12 skillImage">
            <div class="cardImageContainer">
                <img id="cardRarity"/> 
                <img id="cardImage"/> 
            </div>
        </div>
        <div class="col-sm-9 col-12 reducedmargin">
            <p><b id="cardName"></b></p>
            <p id="cardAttribLevel"></p>
            <p id="cardType"></p>
            <p id="cardMaterials"></p>
            <p id="cardText"></p>
            <p id="cardAttackDefense"></p>
            <p id="cardObtain"></p> 
        </div>
    </div> 
</div>