
<nav class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>          
        </button>
  
        <div class="navbar-collapse collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto mx-auto">
              <li class="nav-item active">
                  <a class="nav-link active" href="{{site.url}}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{site.url}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      KoG Decks
                    </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for card in site.categories.decks %}
                    <a class="dropdown-item" href="{{site.url}}{{card.url}}">{{card.title}}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{{site.url}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tournaments
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for card in site.categories.tournaments %}
                  <a class="dropdown-item" href="{{site.url}}{{card.url}}">{{card.title}}</a>
                  {% endfor %}
                </div>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{site.url}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Entertainment
                    </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for card in site.categories.entertainment %}
                    <a class="dropdown-item" href="{{site.url}}{{card.url}}">{{card.title}}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Discord</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">About</a>
                </li>
            </li>
          </ul>
        </div>
      </nav>