<div class="col-12 cards">
    <div class="row">
        <div class="col-sm-2">Name</div>
        <div class="col-sm">Effect / How to Obtain</div>
        <div class="col-sm">Why</div>
    </div>
</div>

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Sphere Kuriboh</p><img class="img-fluid" src="https://i.imgur.com/wS1cCB8.png" /></div>
        <div class="col-sm"><br><p><b>When an opponent’s monster declares an attack:</b> You can send this card from your hand to the GY; Change the
            attacking monster to Defense Position. When you Ritual Summon a monster, you can Banish this card from your Graveyard
            as 1 of the Monsters required for the Ritual Summon. </p> <p class="set"><b>Set:</b> Ultimate Rising Pack [UR]</p></div>

        <div class="col-sm">Currently Sphere Kuriboh is the only hand trap available in the game. It is still one of the best defensive cards
            in game. Also, your backrow is really clogged with traps. Kuriboh can also be used in the event your backrow
            is wiped by something like Phoenix. I ran 2, and I wouldn’t run more or less.</div>
    </div>
</div>

<hr />


<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Ninja Grandmaster Sasuke</p><img class="img-fluid" src="http://i.imgur.com/suM8Rnv.png" /></div>
        <div class="col-sm"><br><p><b>At the start of the Damage Step,</b> if this card attacks a face-up Defense Position monster: Destroy that monster. </p> <p class="set"><b>Set:</b> WTG: Electro Overload Pack [SR]</p></div>

        <div class="col-sm">Sasuke provides good stats and transformation target. His effect also comes in handy after a windstorm OR kuriboh. But seeing as how this is the 3SD version, he isn’t the main star. <b>I ran 2 of them, because they gave you something to play after you spent your 3SD skill.</b> <i>He isn’t mandatory, but he helps.</i></div>
    </div>
</div>

<hr />

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Black Dragon Ninja</p><img class="img-fluid" src="https://i.imgur.com/UmasmfV.jpg" /></div>
        <div class="col-sm"><br><p>Cannot be Special Summoned, except with the effect of a “Ninja” monster or “Ninjitsu Art” card. Once per turn, <b>during either player’s turn:</b> you can send 1 “Ninja” monster and 1 “Ninjitsu Art” card <b>from your hand and/or face-up</b> from your field to the GY, then target 1 monster on the field: banish it. <b>If This face-up card leaves the field:</b> Special Summon as many monsters banished by this card’s effect as possible to their owner’s field(s).   </p> <p class="set"><b>Set:</b> WTG: Electro Overload Pack [R]</p></div>

        <div class="col-sm"><b>The star of the show!</b> He is arguably one of the most powerful card in game right now. He is a strong 2800 attacker with instant removal and serves as a Launchpad for this deck! A lot of players just do not understand the possibility available with BDN. <b>You need 3 of them, and there is no substitute for him in this deck.</b> He deserves his own section below. </div>
    </div>
</div>

<hr />

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Red Dragon Ninja</p><img class="img-fluid" src="https://i.imgur.com/2qtpbxY.jpg" /></div>
        <div class="col-sm"><br><p><b>When this card is Summoned:</b> You can banish 1 "Ninja" or "Ninjitsu Art" card from your Graveyard to target 1 Set card your opponent controls; reveal that Set card, then return it to either the top or bottom of the Deck. <b>Your opponent cannot activate the targeted card in response to this effect's activation.</b> You can only use the <b>effect of "Red Dragon Ninja" once per turn.</b></p> <p class="set"><b>Set:</b> WTG: Dawn of Destiny [R]</p></div>

        <div class="col-sm"><b>The co-star to BDN!</b> You also need 3 of these guys! They serve as the main control portion of the deck. A powerful ability to spin cards to either the top or bottom of the deck, controlling your opponents field AND draw in one go. <b>He is your key to starting the offensive and dealing with pesky MILL decks!</b> 
                <i>Note:</i> <b>DO NOT activate his ability during a chain, you will mistime and not get his effect!</b>
                </div>
    </div>
</div>

<hr />

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Armed Ninja</p><img class="img-fluid" src="https://i.imgur.com/7Huc0YB.jpg" /></div>
        <div class="col-sm"><br><p><b>FLIP:</b> Target 1 Spell Card on the field; destroy that target. (If the target is Set, reveal it, and destroy it if it is a Spell Card. Otherwise, return it to its original position.)</p> <p class="set"><b>Set:</b> WTG: All legendary duelists level 30 or less</p></div>

        <div class="col-sm">With the current meta trending towards spell heavy backrow protection, armed ninja is a way to deal with pesky Super Rush, Enemy Controller, and even the infamous Toon Kingdom. When your opponent ends turn, you can duplication into armed ninja and another ninja for a next turn setup! ALSO, he is fuel for BDN. So I ran 2 of them!
                </div>
    </div>
</div>

<hr />

<div class="col-12">
    <div class="row">
        <div class="col-sm-2 text-center"><p>Ninjitsu Art of Transformation</p><img class="img-fluid" src="https://i.imgur.com/XexQmRd.png" /></div>
        <div class="col-sm"><br><p>Activate this card by Tributing 1 face-up "Ninja" monster; <b>Special Summon 1 Beast, Winged Beast, or Insect-Type monster from your hand or Deck</b> whose Level is less than or equal to the Level the Tributed monster had on the field +3. When this card leaves the field, destroy that monster.</p> <p class="set"><b>Set:</b> WTG: Electric Overload [UR]</p></div>

        <div class="col-sm"><b>One of the key traps in the deck, it launches your combo!</b> It also serves as a primary dodge for your ninja to escape targeting effects, such as enemy controller. Transformation allows you to go from BDN to RDN, RDN to BDN, and anything in between. It also works off Sasuke. I ran 3, you need all 3, there is no substitute…sorry.
                </div>
    </div>
</div>

<hr />