<script src="{{site.url}}/js/ads.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/46817735d5.js"></script>
<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{{site.url}}/js/tether.js"></script>
<script src="{{site.url}}/js/knockout-3.4.2.js"></script>
<script src="{{site.url}}/js/topdecks.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function ()
    {
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom', html: true });
    });

    if (!document.getElementById('LobCizPXDhlG'))
    {
        document.getElementById('ad1layout').style.display = 'block';
        document.getElementById('ad2layout').style.display = 'block';
    }
</script>