
<!-- CDN Libraries -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://use.fontawesome.com/46817735d5.js"></script>
<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
<script src="https://ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js" charset="utf-8"></script>

<!-- Downloaded Libraries -->
<script src="/js/tether.js"></script>
<script src="/js/knockout-3.4.2.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/jquery-ui-drag-n-drop.min.js"></script>
<script src="/js/jquery.easy-autocomplete.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>

<!-- Custom Scripts All Pages -->
<script src="/js/ads.js" type="text/javascript"></script>
<script src="/js/cards.js"></script>
<script src="/js/deckmaker.js"></script>
<script src="/js/carouselswipe.js"></script>

<!-- <script src="/js/mdstyling.js"></script> -->
<script src="/js/image-slider.js"></script>
<script src="/js/general.js"></script>
<script src="/js/cardsApi.js"></script>



<!-- Custom Scripts Specific Pages-->
{% if page.scripts %}
    {% assign scripts = page.scripts | split: ',' %}
    {% for script in scripts %}
        <script src="/js/{{script}}"></script>
    {% endfor%}
{% endif %}

<!-- TRY TO USE THE VERSION ABOVE (DEFINING THE SCRIPTS ON THE PAGE FILE ITSELF) IN STEAD OF THE VERSIONS BELOW -->

{% if page.url == "/admin/" || page.url == "/" %}
<script>
    if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>
{% endif %}

{% if page.url == "/top-decks/" %}
    <script src="/js/topdecks.js"></script>
{% endif %}

{% if page.url == "/submit-your-deck/" %}
    <script src="/js/deck-submission.js"></script>
    <script src="/js/discord.js"></script>
{% endif %}

{% if page.url == "/deckbuilder/" %}
    <script src="/js/deckbuilder.js"></script>
    <script src="/js/playtest.js"></script>
{% endif %}

{% if page.url == "/videos/" %}
    <script src="/js/vods.js"></script>
{% endif %}

{% if page.url == "/new-players/"  %}
    <script src="/js/anchorSet.js"></script>
{% endif %}

<!-- THIS SHOULD BE IN A SEPERATE FILE! -->
<script type="text/javascript">
    $(function ()
    {
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom', html: true });
    });

    if (!document.getElementById('LobCizPXDhlG'))
    {
        document.getElementById('ad1layout').style.display = 'block';
        document.getElementById('ad2layout').style.display = 'block';
    }
</script>