<div class="row">
        <div class="col-12 text-center">
          <h3 class="text-white">Follow Duel Links Meta
            <h3>
              <a href="https://www.twitch.tv/duellinksmeta" class="fa-stack fa-lg fa-1x">
                    <i class="fa fa-square fa-stack-2x" style="color:#6441A4; "></i>
                <i class="fa fa-twitch  fa-stack-1x" style="color:white; "></i>
            </a>
              <a href="https://www.facebook.com/DuelLinksMeta/" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color:#3B5998; "></i>
                  <i class="fa fa-facebook  fa-stack-1x" style="color:white; "></i>
              </a>
  
              <a href="https://www.youtube.com/channel/UCz_cNcJzCy4asffzW5ERH1w" class="fa-stack fa-lg fa-1x">
                      <i class="fa fa-square fa-stack-2x" style="color:#FF0000; "></i>
                    <i class="fa fa-youtube  fa-stack-1x" style="color:white; "></i>
                   </a>
  
              <a href="https://twitter.com/duellinksmeta?lang=en" class="fa-stack fa-lg fa-1x">
                            <i class="fa fa-square fa-stack-2x" style="color:#00aced; "></i>
                      <i class="fa fa-twitter  fa-stack-1x" style="color:white; "></i>
                        </a>
  
        </div>
      </div>

      