<div class="section">
  <div class="ad-container">
    <div id="ad2layout">
        Our website is made possible by displaying online advertisements to our visitors.<br>
        Please consider supporting us by disabling your ad blocker.
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- general -->
    <ins class="adsbygoogle"
        style="display:block;margin: 1rem;"
        data-ad-client="ca-pub-6240311116200484"
        data-ad-slot="1739282656"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="row discord-ad-banner">
    <div class="discord-ad-background-left"></div>
    <a class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 discord-ad-sub-banner discord-ad-text-area" href="https://discord.gg/duellinksmeta">
        <p class="discord-ad-text discord-ad-text-title"></p>  
        <img src="/img/logos/dlm-discord.png" class="discord-ad-image"> 
        <p class="discord-ad-text">CLICK HERE TO JOIN</p>    
        <img src="/img/dlm-ads/kog_logo.png" class="discord-ad-kog-image">
        <p class="discord-ad-text discord-ad-text-kog-date">7,834 members</p>
        <p class="discord-ad-text">813 King of Games February </p>
    </a>
    <a class="col-md-6 col-lg-6 col-xl-6 discord-ad-sub-banner discord-ad-sub-banner-right" href="/discord/"></a>
  </div>

  <div class="row follow-dlm">
    <div class="col-12 text-center">
      <h3 class="text-white">Follow Duel Links Meta</h3>
      <div>
        <a href="https://www.twitch.tv/duellinksmeta" target="_blank" class="fa-stack fa-lg fa-1x">
          <i class="fa fa-square fa-stack-2x" style="color:#6441A4; "></i>
          <i class="fa fa-twitch  fa-stack-1x" style="color:white; "></i>
        </a>
        <a href="https://www.facebook.com/DuelLinksMeta/" target="_blank" class="fa-stack fa-lg fa-1x">
          <i class="fa fa-square fa-stack-2x" style="color:#3B5998; "></i>
          <i class="fa fa-facebook  fa-stack-1x" style="color:white; "></i>
        </a>
        <a href="https://www.youtube.com/channel/UCz_cNcJzCy4asffzW5ERH1w" target="_blank" class="fa-stack fa-lg fa-1x">
          <i class="fa fa-square fa-stack-2x" style="color:#FF0000; "></i>
          <i class="fa fa-youtube  fa-stack-1x" style="color:white; "></i>
        </a>
        <a href="https://twitter.com/duellinksmeta?lang=en" target="_blank" class="fa-stack fa-lg fa-1x">
          <i class="fa fa-square fa-stack-2x" style="color:#00aced; "></i>
          <i class="fa fa-twitter  fa-stack-1x" style="color:white; "></i>
        </a>
      </div>
    </div>
  </div>
</div>