{% assign years = site.data.top-decks %}
{% capture currentYear %}{{ 'now' | date: "%Y" }}{% endcapture %}
{% capture currentMonth %}{{ 'now' | date: "%m" }}{% endcapture %}
{% assign current-season = currentYear | append: '-' | append: currentMonth %}

<div class="section">
    <h4>TOP DECKS SEASON ARCHIVE</h4>
    <div class="row season-archive">
        <div class="col-12 col-sm-4 col-md-3 col-xl-2">
            <select id="SeasonArchiveSelection" class="form-control"> 
                <option value="defaultValue" selected>Select a season</option>  
                {% assign years_sorted = years | sort_descending %}
                {% for year in years_sorted %}
                    {% if year[0] != "pending" %}
                        {% if year[1] %}                            
                            {% assign months = year[1] | sort_descending %}
                            {% for month in months %}
                                {% assign loop-season = year[0] | append: '-' | append: month[0] %}
                                {% assign monthName = site.data.months | where: "id", month[0] %}
                                {% if loop-season == current-season %}
                                    {% assign optionValue = "" %}
                                {% else %}
                                    {% capture optionValue %}{{monthName[0].name}}-{{year[0]}}{% endcapture %}
                                {% endif %}    
                                {% if loop-season != include.season %}
                                    <option value="{{optionValue}}">{{monthName[0].name | capitalize }} {{year[0]}}</option>   
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>