<div class="col-12">
  <div class="row">
    <div class="col-sm-6 col-12 text-center">

      <img src="https://images.weserv.nl/?url=i.imgur.com/Exru854.png&w=200&blur=5" data-src="https://i.imgur.com/Exru854.png"
        class="img-fluid lazyload">
    </div>
    <div class="col-sm-6 col-12">
      <div class="h2">
        <p class="text-center"><b><u>Top 8 Breakdown</u></b></p>
      </div>
      <div class="h4">
        <p>5x Red Eyes Beatdown/TTTB</p>
        <p>3x Psychics NMCR</p>
        <p>​2x 3SD Ninja</p>
        <p>1x 3SD Toon Barrel Dragon</p>
        <p>1x 3SD Toon Barrel Red Eyes</p>
        <p>1x Tea Mill</p>
        <p>1x Mausoleum Invader</p>
        <p>1x BLS Creator</p>
        <p>1x Red Eyes Balance</p>
      </div>
    </div>
  </div>
</div>