.btn
{
    &.btn-full
    {
        width: 100%;
    }
}

.decktype-filter
{
      width: calc(100% + 24px);
      margin-top: 12px;
      margin-bottom: -12px;
      padding-left: 3px;
      padding-right: 3px;
      margin-left: -12px;

    .btn-wrapper
    {
        padding-right: 12px;
        padding-left: 12px;
        margin-bottom: 20px;

        .btn-decktype
        {
            cursor: pointer;
            display: flex;
            position: relative;
            height: 45px;
            width: 100%;
            text-align: center;
            margin-bottom: 3px;
            outline: 3px solid #385979;
            background: #A9BCC3;
            color: #252B2D;
            font-weight: 600;
            font-size: 17px;
            line-height: 18px;
            overflow: hidden;
            float: left;
            z-index: 0;

            &.active
            {
                outline: 3px solid #206da9;
                background: #91c8da;

                /* ----- red ---- */
                /*outline: 3px solid #793838;
                background: #c3a9a9;*/

                /* --- yellow --- */
                /*outline: 3px solid #797538;
                background: #c3bfa9;*/
            }

            > .decktype-card
            {
                position: absolute;
                left: -9px;
                top: -18px;
                height: 200%;
                z-index: -1;
                clip: rect(0px, 53px, 70px, 0px);
            }

            > .decktype-display
            {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-top: 2px;
                padding-left: 48px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            > .decktype-count
            {
                position: absolute;
                right: 1px;
                bottom: 1px;
                font-size: 20px;
                color: #060606;

                /*
                display: flex;
                align-items: flex-end;
                font-size: 20px;
                margin-bottom: 2px;
                color: #060606;
                padding-left: 34px;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                */
            }

            &:hover
            {
                text-decoration: none;
            }
        }
        
        .btn-decktype:after
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 500%;
            height: 1000%;
            background: rgba(255, 255, 255, 0.2);
            z-index: 1;
            transform-origin: 0% 0%;
            transform: translateX(calc(20% - 25px)) translateY(10%) rotate(-45deg);
            transition: transform .3s;
        }
        
        .btn-decktype:hover::after
        {
            transform: translateY(10%) translateX(-25px) rotate(-45deg);
        }

        .decktype-new
        {
            z-index: 2;
            position: absolute;
            top: -10px;
            right: 0px;
        }
    }
}

.skill-filter
{
    .btn-wrapper
    {
        margin-top: -5px;

        span
        {
            cursor: pointer;
            
            &.active
            {
                color: #4a98b7;
            }
        }
    }
}