/* --- FRONT PAGE CARDS --- */ /* PLS RENAME :( SO CONFUSING */
.card
{
  border-radius: 2px;
  background-color: rgba(8, 13, 120, 0.05);
  box-shadow: 0 0 2px 0 $black;
  margin-bottom: 20px;
}

.card:after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
  pointer-events: none;
  border-radius: 2px;
}

.card-img-top
{
  object-fit: cover;
  width: 100%;
  max-height: 120px;
  min-height: 180px;
}

.card-block
{
  padding: .8rem;

  a:hover
  {
    text-decoration: none;
  }

  small
  {
    font-size: 70%;
  }
}

.card-title
{
  margin-bottom: 0;
  text-transform: uppercase;
}
/* ------------------------ */


/* ----- ACTUAL CARDS ----- */
.card-hover
{
  color: $flashy-blue;
  font-weight: bold;
  cursor: pointer;
}

.card-hover:focus,
.card-hover:hover
{
  color: $blue;
  cursor: pointer !important;
}

.cardlist
{
  margin-right: auto;
  margin-left: 1rem;
}

.cards
{
  background-color: $dark-blue;
  padding: .75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:$white;
}

.rarity
{
  height: 1rem;
  float: right;
}

.monster
{
  color: $monster;

  &:hover,
  &:focus
  {
    color: darken($monster, 10%)
  }
}

.spell
{
  color: $spell;

  &:hover,
  &:focus
  {
    color: darken($spell, 10%)
  }
}

.trap
{
  color: $trap;

  &:hover,
  &:focus
  {
    color: darken($trap, 10%)
  }
}

.fusion
{
  color: $fusion;

  &:hover,
  &:focus
  {
    color: darken($fusion, 10%)
  }
}
/* ------------------------ */


/* ------- TOOLTIP -------- */
.ctooltip
{
  position: relative;
  display: inline-block;

  .ctooltiptext
  {
    visibility: hidden;
    width: 100%;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    pointer-events: none;
  
    img
    {
      max-width: 375px;
    }
  }

  &:hover .ctooltiptext
  {
    visibility: visible;
    opacity: 1;
  }
}

.rtooltip .rtooltiptext
{
  top: -5px !important;
  left: 105% !important; 
}
/* ------------------------ */


/* ------ THUMBNAIL ------- */

.thumbnail
{
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 1rem;

  img
  {
    position: absolute;
    left: 50%;
    top: 55%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-45%);
        -ms-transform: translate(-50%,-45%);
            transform: translate(-50%,-45%);
  }

  img.portrait
  {
    width: 150%;
    height: auto;
  }

  span p
  {
    flex-grow: 2;
  }
}
/* ------------------------ */