.deck-page h2
{
  margin-top: 15px;
}

.deck-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 473px;

  #label
  {
    text-align: center;
    margin-top: 1rem;
  }
  
  .skill
  {
    margin-top: 10px;
    margin-bottom: 5px;
    color: $active;
    text-align: center;

    .main
    {
      margin-right: 5px;
    }
  }
}

.deck-container.box-review {
  width: 100%;
  max-width: 100%;    
}

.card-img
{
  display: flex;
  align-items: center;
  margin: 2rem;
}

.flex-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.flex-container.center
{
  justify-content: center;
}

#deck
{
  height: auto;
  border: 1px solid white;
  background-color: rgb(0, 0, 22);
  background-image: url("https://www.konami.com/yugioh/duel_links/images/common/bk_layer_a.png");
  background-size: cover;
  cursor: default;
}

#cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;
  
  @media screen and (max-width: 515px){
    padding:0.3rem;
    }

  @media screen and (max-width: 350px){
    padding:0.25rem;
    }

}

.markdown-item
{

  box-sizing: border-box;
  margin: 0.5rem;

  img.dcards
  {
    width: 70px;
    height: 102px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  p
  {
    display: flex;
    align-content: center;
    border: 1px solid blue;
    height: 100%;
    width: 56px;
  }
}

.item
{

  box-sizing: border-box;
  margin: 0.5rem;
  
  @media screen and (max-width: 515px){
    margin: 0.3rem;
    }

  @media screen and (max-width: 350px){
    margin:0.25rem;
    }

  img.dcards
  {
    width: 75px;
    height: 109px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    
    @media screen and (max-width: 490px){
      width: 72px;
      height:105px;
    }
    
    @media screen and (max-width: 460px){
      width: 66px;
      height:96px;
    }

    @media screen and (max-width: 430px){
      width: 60px;
      height:87px;
    }
    @media screen and (max-width: 400px){
      width: 55px;
      height:80px;
    }
    @media screen and (max-width: 374px){
      width: 50px;
      height:73px;
    }
    @media screen and (max-width: 350px){
      width: 46px;
      height:67px;
    }

    @media screen and (max-width: 320px){
      width: 44px;
      height:64px;
    }
  }
  



  p
  {
    display: flex;
    align-content: center;
    border: 1px solid blue;
    height: 100%;
    width: 56px;
  }
}

.deckinfo p
{
  font-weight: bold;
  margin-bottom: 1px;
}

.name
{
  padding-left: 10px;
  text-align: justify;
}

.value
{
  padding-left: 10px;
  text-align: left;
}

.main
{
  height: 1.7rem;
  padding-bottom: 0.3rem;
  display: inline-block;
}

.stats p
{
  display: block;
  margin: 1px;
}

.skill
{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.info
{
  position: absolute;
  display: flex;
}

.cardinfo
{
  display: flex !important;
  flex-direction: row;
}

.qtip-content
{
  display: flex;
}

.carddata
{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  margin-left: 12px;
  width: 100%;
  p{
    margin-bottom:0.5rem;
  }
}

.desktopPopupImages 
{
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.skilldata
{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 1rem 0 0 0;
}

.qtip-content{
  padding: 12px !important;
}
.rarityCard{
  width: 60px !important;
  position: relative;
  left: 81px;
}

.cardPicBig{
  width: 140px;
}

.preview{
  padding:0;
}

.preview img
{
  margin-right: 1rem;
  display: flex;
}

.previewSkill img
{
  margin: 1rem 1rem 1rem .5rem;
  width: 90px;
  display: flex;
}

.qtip-dark
{
  background-color: #111;
  min-width: 500px;
}

.reducedmargin{
  p{
    margin-bottom: 0.3rem;
  }
  margin-top: auto;
  margin-bottom: auto;
}

.fancybox-slide > div{
  padding-top: 1rem !important;
  padding-bottom:0;
  max-height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.fancybox-container{
  transition-duration: 120ms !important;
}
// Skill and Card Information Display (Mobile)
.fancyboxContainer {
  background-color: transparent !important;
}

.skillContainer {
  display: flex !important;
} 

.hideSkillContainer {
  visibility: hidden;
}

.skillTitle {
  color: #c7c7c7;
  margin-bottom: 32px;
}

.skillDataColumn {
  padding: 15px 0px 15px 0px;
}

@media only screen and (max-width: 575px)
{
  .skillData p {
    text-align: center;
  }

  .skillImage {
    text-align: center;
  }
}

/*--- Removing the fancybox content display
as the grid from Bootstrap is needed for skill popups---*/
.fancybox-slide::before {
  display: none !important;  
}
.fancybox-slide{
  display: flex !important;
  align-items: center !important;
}

#cardObtain {
  margin-bottom: 0;
}

#desktopPopup {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display:flex;
}

#cardRarity {
  float: right;
  width: 70px;
  padding-top: 0 !important;
  position: relative;
  left: 1px;
}

#cardImage {
  width: 100%;
  margin-bottom: 0.5rem;
  max-width: 250px;
  padding-top: 0 !important;
}


.cardImageContainer {
  max-width: 250px;
  margin: auto;
  margin-top: 0.25rem;
  width: 100%;
  
}

#cardName {
  margin-bottom: .5rem;
}

// Tablet
@media only screen and (max-width: 767px)
{
  .mobile
  {
    display: none;
  }
}

@media screen and (max-width: 515px) {
  #deck {
    width: 435px;
    margin:auto;
  }
}

// Phone (Vertical): Plus or Large Screen Sizes 
@media screen and (max-width: 490px) {
  #deck {
    width: 420px;
  }
}
@media screen and (max-width: 460px) {
  #deck {
    width: 390px;
  }
}

// Phone (Vertical)
@media screen and (max-width: 430px) {
  #deck {
    width: 360px;
  }
}

// Phone (Vertical even smaller)
@media screen and (max-width: 400px) {
  #deck {
    width: 335px;
  }
}

@media screen and (max-width: 374px) {
  #deck {
    width: 310px;
  }
}

@media screen and (max-width: 350px) {
  #deck {
    width: 280px;
  }
}

@media screen and (max-width: 320px) {
  #deck {
    width: 270px;
  }
}

@media screen and (max-width: 300px) {
  #deck {
    width: 100%;
  }
}

// Landscape
@media only screen and (min-aspect-ratio: 13/9) {
  .card-deck-markdown{
    width: 51%;
    margin: auto;
  }
}

// Portrait
@media only screen and (max-aspect-ratio: 13/9) {
  .markdown-item{
    margin: 0.25rem;

    img.dcards{
      width: 52px;
      height: 76px;
    }
  }
}

