.deck-page h2
{
  margin-top: 15px;
}

.deck-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;

  #label
  {
    text-align: center;
    margin-top: 1rem;
  }
  
  .skill
  {
    margin-top: 10px;
    margin-bottom: 5px;
    color: $active;
    text-align: center;

    .main
    {
      margin-right: 5px;
    }
  }
}

.deck-container.box-review {
  width: 100%;  
}

.card-img
{
  display: flex;
  align-items: center;
  margin: 2rem;
}

.flex-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.flex-container.center
{
  justify-content: center;
}

#deck
{
  height: auto;
  border: 1px solid white;
  background-color: rgb(0, 0, 22);
  background-image: url("https://www.konami.com/yugioh/duel_links/images/common/bk_layer_a.png");
  background-size: cover;
  cursor: default;
}

#cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;
}

.markdown-item
{

  box-sizing: border-box;
  margin: 0.5rem;

  img.dcards
  {
    width: 70px;
    height: 102px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  p
  {
    display: flex;
    align-content: center;
    border: 1px solid blue;
    height: 100%;
    width: 56px;
  }
}

.item
{

  box-sizing: border-box;
  margin: 0.5rem;

  img.dcards
  {
    width: 70px;
    height: 102px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  p
  {
    display: flex;
    align-content: center;
    border: 1px solid blue;
    height: 100%;
    width: 56px;
  }
}

.deckinfo p
{
  font-weight: bold;
  margin-bottom: 1px;
}

.name
{
  padding-left: 10px;
  text-align: justify;
}

.value
{
  padding-left: 10px;
  text-align: left;
}

.main
{
  height: 1.7rem;
  padding-bottom: 0.3rem;
  display: inline-block;
}

.stats p
{
  display: block;
  margin: 1px;
}

.skill
{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.info
{
  position: absolute;
  display: flex;
}

.cardinfo
{
  display: flex !important;
  flex-direction: row;
}

.qtip-content
{
  display: flex;
}

.carddata
{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 1rem 0;
}

.skilldata
{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 1rem 0 0 0;
}

.preview img
{
  margin: 0 1.5rem 0 .5rem;
  width: 120px;
  display: flex;
}

.previewSkill img
{
  margin: 1rem 1rem 1rem .5rem;
  width: 90px;
  display: flex;
}

.qtip-dark
{
  background-color: #111;
  min-width: 500px;
}

// Skill and Card Information Display (Mobile)
.fancyboxContainer {
  background-color: transparent !important;
}

.skillContainer {
  display: flex !important;
} 

.hideSkillContainer {
  visibility: hidden;
}

.skillTitle {
  color: #c7c7c7;
  margin-bottom: 32px;
}

.skillDataColumn {
  padding: 15px 0px 15px 0px;
}

@media only screen and (max-width: 575px)
{
  .skillData p {
    text-align: center;
  }

  .skillImage {
    text-align: center;
  }
}

/*--- Removing the fancybox content display
as the grid from Bootstrap is needed for skill popups---*/
.fancybox-slide::before {
  display: none !important;  
}

#cardRarity {
  margin-left: 69px;
  width: 60px;
}

#cardImage {
  width: 128px;
  margin-bottom: 20px;
}

.cardImageContainer {
  width: 128px;
  margin: auto;
}

#cardName {
  margin-bottom: .5rem;
}

// Tablet
@media only screen and (max-width: 767px)
{
  .mobile
  {
    display: none;
  }
}

// Phone (Vertical): Plus or Large Screen Sizes 
@media screen and (max-width: 490px) {
  #deck {
    width: 362px; 
  }
}

// Phone (Vertical)
@media screen and (max-width: 400px) {
  #deck {
    width: 276px; 
  }
}

// Landscape
@media only screen and (min-aspect-ratio: 13/9) {
  .card-deck-markdown{
    width: 51%;
    margin: auto;
  }
}

// Portrait
@media only screen and (max-aspect-ratio: 13/9) {
  .markdown-item{
    margin: 0.25rem;

    img.dcards{
      width: 52px;
      height: 76px;
    }
  }
}