.deck-page h2
{
  margin-top: 40px;
}

.deck-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.card-img
{
  display: flex;
  align-items: center;
  margin: 2rem;
}

.flex-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.flex-container.left
{
  justify-content: left;
}

#label
{
  text-align: center;
  margin-top: 1rem;
}

#skill
{
  margin-bottom: 1rem;
  color: $active;
}

#deck
{
  height: auto;
  display: flex;
  border: 1px solid white;
  background-color: rgb(0, 0, 22);
  background-image: url("https://www.konami.com/yugioh/duel_links/images/common/bk_layer_a.png");
  background-size: cover;
  cursor: default;
}

#cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;
}

.item
{

  box-sizing: border-box;
  margin: 0.5rem;

  img.dcards
  {
    height: auto;
    width: 70px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  p
  {
    display: flex;
    align-content: center;
    border: 1px solid blue;
    height: 100%;
    width: 56px;
  }
}

.deckinfo p
{
  font-weight: bold;
  margin-bottom: 1px;
}

.name
{
  padding-left: 10px;
  text-align: justify;
}

.value
{
  padding-left: 10px;
  text-align: left;
}

.main
{
  height: 1.7rem;
  padding-bottom: 0.3rem;
  display: inline-block;
}

.stats p
{
  display: block;
  margin: 1px;
}

.skill
{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.info
{
  position: absolute;
  display: flex;
}

.cardinfo
{
  display: flex !important;
  flex-direction: row;
}

.qtip-content
{
  display: flex;
}

.preview img
{
  width: 120px;
}

.carddata
{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 1rem 0;
}

.preview img
{
  margin: 1rem 1rem 1rem .5rem;
  width: 120px;
  display: flex;
}

.qtip-dark
{
  background-color: #111;
  min-width: 500px;
}

@media only screen and (max-width: 760px)
{
  .mobile
  {
    display: none;
  }

  #deck
  {
    width: 362px;
  }
}