form
{
    .form-control,
    .form-control:focus
    {
        color: #d8d8d8;
        border: 1px solid #182f4c;
        background-color: #0c2740;
    }

    .form-control:read-only
    {
        background-color: #0a1f33;
    }
}

.deck-submission
{
    .left-side
    {
        flex: 0 0 47.5%;
        max-width: 47.5%;
        padding-right: 47px;

        #deck
        {
            margin-top: 25px;
            min-height: 490px;
        }
    }

    .right-side
    {
        flex: 0 0 52.5%;
        max-width: 52.5%;

        #deck
        {
            min-height: 553px;
        }

        .extra-deck
        {
            min-height: 136px !important;
            margin-top: 37px;
        }
    }

    #deck
    {
        border-radius: .25rem;
    }

    #notes
    {
        min-height: 100px;
        max-height: 300px;
    }

    #SubmitDeck
    {
        margin-top: 10px;
        cursor: pointer;
    }
}