.decktype-guide
{
  margin-bottom: 40px;

  .header
  {
    text-align: center;

    h2
    {
      margin-bottom: 8px;
    }
  }

  .splash
  {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  p.wrapped
  {
    border-top: 1px solid #315382;
    border-bottom: 1px solid #315382;
    margin: 20px 30px;
    padding: 5px 0px;
  }

  p.quoted
  {
    font-style: italic;
    margin: 16px 30px;
    font-family: monospace;
    font-size: 13px;

    &::before { content: open-quote }
    &::after { content: close-quote }
  }
}

.drive-viewer-shadow
{
  background-color: none !important;
}

.paginated 
{
  display: none !important;
}

@media only screen and (max-width: 575px)
{
  .guides-table .category { display: none }
  .guides-table .title  { width: auto }
  .guides-table .author { width: auto }

  .guide-pagination {
    display: flex; 
    justify-content: center;  
  }
}

@media only screen and (min-width: 576px)
{
  .guide-pagination {
    display: inline-flex;  
  }  
} 