@font-face
{
  font-family: Alegreya-Regular;
  src: url(/fonts/Alegreya/AlegreyaSans-Regular.ttf);
}

@font-face
{
  font-family: Alegreya-Medium;
  src: url(/fonts/Alegreya/AlegreyaSans-Medium.ttf);
}

html
{
  background-color: $main-color-light;
}

body
{
  font-family: "Alegreya-Regular";
  font-size: 17px;
  background: $main-color-dark;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $main-color-light, $main-color-dark);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $main-color-light, $main-color-dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  cursor: default;
}

.page-wrapper
{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
  margin-top: 60px;
}

.container
{
  height: calc(100% - 60px);
  width: 100%;
  max-width: 1080px !important;
}

.page-wrapper.scrollbar
{
  overflow-y: scroll;
}

.scrollbar
{
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(#F5F5F5, 0.1);
  }

  &::-webkit-scrollbar
  {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: $outline;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5) 50%, transparent)
  }
}

.section
{
  margin-top: 25px;

  &.remote
  {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &.center,
  &.center p
  {
    text-align: center;
  }
}

p,
ul
{
  color: $text-muted;
  text-align: justify;
}

p img
{
  margin: auto;
  display: block;
  max-width: 100%;
}

a
{
  color: $active;

  &:hover
  {
    color: darken($active, 8%);
  }
}

.hidden
{
  display: none !important;
}

.disabled
{
  opacity: .5;
  pointer-events: none;
  nav-index: -1;
}

.invisible
{
  visibility: hidden;
}

.clearfix
{
  clear: both;
}

.text-white
{
  color: $text-default !important;
}

.text-muted
{
  color: $text-muted !important;
}

.list-group-item
{
  background-color: $dark-blue;
}

hr
{
  border-color: $dark-line;
}

.comment 
{
  background: $grey-blue2;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid $black;
  margin: 1rem;
}

.comments
{
  background-color: rgb(20, 30, 48);
  padding: 1rem;
  color: $text-default;
  border-radius: 4px;
  border: 1px solid $grey-blue4;
}

.avatar
{
  margin-top: 1.5rem;
  border-radius: 50%;
}

h2.title,
h3.title
{
  color: $flashy-blue;
  text-align: center;
}

.ad-container
{
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}

.ad
{
  margin: 1rem;
}

.banner
{
  width: 100%;
  height: 100px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba($active, 0.8);
  background-image: url(/img/assets/background-lines.png);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 119, 165, 0.07);
  cursor: pointer;

  &:hover
  {
    background-color: rgba(0, 182, 255, 0.1);
  }

  a
  {
    font-size: 2.4rem;
    line-height: 2.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 30px rgba(0, 57, 84, 0.4);
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: -webkit-linear-gradient(white, white, #096794, #096794);
    background:    -moz-linear-gradient(white, white, #096794, #096794);
    background:     -ms-linear-gradient(white, white, #096794, #096794);
    background:      -o-linear-gradient(white, white, #096794, #096794);
    background:         linear-gradient(white, white, #096794, #096794);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btn-primary,
.btn-primary:hover
{
  background-color: $active;
  border-color: $active;
}

button:focus
{
  outline: 5px auto $flashy-blue;
}

.hero {
  margin-top: 60px;
  position: static;
}

.badge.badge-default.badge-pill::after {
  content: "x";
}

.badge {
  font-size: 100%;
}

.badge-default {
  background-color: darken($dark-blue, 5%);
}

.footer-block {
  margin: 1rem;
}

.footer {
  border: 2px solid transparent;
  box-shadow: 0 0 20px 0 $black;
  background-color: $dark-blue;
  padding: 15px 20px 0 20px;
}

.zoom {
  position: relative;
  overflow: hidden;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.zoom img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.outline {
    border-radius: 2px;
    background-color: rgba(8, 13, 120, 0.05);
    box-shadow: 0 0 2px 0 $black;
    margin-bottom: 20px;
    padding: 1rem;
}

.outline:after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
  pointer-events: none;
  border-radius: 2px;
}

#ad1layout,
#ad2layout
{
  display: none;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 2px;
  color: $text-default;
  background: rgba($grey-blue, 0.7);
}

#ad2layout
{
  background: $grey-blue3;
}

.follow-dlm
{
  padding-bottom: 10px;
}

.fb-comments
{
  iframe
  {
    width: calc(100% + 14px) !important;
    margin-left: -7px;
  }
}

#newplayers-container
{
  h3, h4, h5, p
  {
    margin-bottom: 1rem;
  }
}

.card-collection
{
  text-align: center;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-bottom: 25px;

  .card-deck
  {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

    .card
    {
      margin-left: 0;
      margin-right: 0;
    }
  }
}


.game-board
{
  display: inline-block;

  .card-slot-row
  {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    display: flex;
  
    .card-slot
    {
      border: 1px solid white;
      border-radius: 4px;
      margin-left: 15px;
      margin-right: 15px;
      height: 102px;
      width: 70px;
      float: left;

      img
      {
        width: 100%;

        &.rotated
        {
          transform: rotate(270deg);
        }
      }

      &:first-child
      {
        margin-right: 25px;
        border-radius: 0px;
      }

      &:last-child
      {
        margin-left: 25px;
        border-radius: 0px;
      }
    }
  }

  .game-phase
  {
    display: inline-block;
    height: 40px;
  }
}

// MARKDOWN STUFF
.markdown
{
  h1
  {
    font-size: 35pt;
    letter-spacing: 0.7px;
    margin-bottom: -7px;
  }

  h2
  {
    font-size: 26pt;
    letter-spacing: 0.7px; 
    margin-bottom: 15px;  
  }

  h3
  {
    font-size: 22pt;
    margin-top: 30px;
  }

  h4
  {
    margin-top: 10px;
  }

  strong
  {
    letter-spacing: 0.5px;
    font-family: "Alegreya-Medium" !important;
  }

  p
  {
    letter-spacing: 0.1px;
  }

  .deck-container
  {
    margin: 0 auto;

    &.left  { margin-left:  0px; }
    &.right { margin-right: 0px; }
  }

  .card-hover
  {
    color: #2F7D9C !important;
  }

  .mdstyle-center
  {
    display: block;
    text-align: center;
  }
}

/* Easy autocomplete override */
.easy-autocomplete-container ul {
    background: #092035 !important;
    border-top: 1px dotted #092035 !important;
}

.easy-autocomplete li {
    border-bottom: 1px solid #0b2842 !important
}

.easy-autocomplete-container ul li {
  border-color: #092035 !important;
  padding: 8px 12px !important;
}

.easy-autocomplete-container ul li.selected {
  background: #092035 !important;
}

/* Submit your deck discord connection */
.discord-login-content{
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.discord-login-button{
  cursor: pointer;
}

.post-submission-wrapper{
  width: 100%;
  text-align: center;
}

.stats-header
{
  h5
  {
    float: left;
  }

  .stats-actions
  {
    float: right;

    span
    {
      color: $active;
      cursor: pointer;
    }
  }
}

.season-archive.row
{
  margin-right: -10px;
  margin-left: -10px;

  [class^="col"]
  {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.carousel-size-1-3{
  width: 33%;
}

.carousel-size-2-3{
  width: 66%;
}

.carousel-size-3-3{
  width: 100%;
}

.carousel-image-size-h3{
  height: 40rem;
  max-width: 100%;
  margin: auto;
}

.carousel-image-size-h2{
  height: 30rem;
  max-width: 100%;
  margin: auto;
}

.carousel-image-size-h1{
  height: 20rem;
  max-width: 100%;
  margin: auto;
}

@media only screen and (max-aspect-ratio: 13/9) {
  .carousel-size-1-3{
    width: 100%;
  }

  .carousel-size-2-3{
    width: 100%;
  }

  .carousel-size-3-3{
    width: 100%;
  }

  .carousel-image-size-h3{
    height: 30rem;
  }

  .carousel-image-size-h2{
    height: 22.5rem;
  }

  .carousel-image-size-h1{
    height: 15rem;
  }
}