.mcs-logo
{
    max-width: 450px;
    width: 100%;
}

.mcs-info-container {
    min-height: 300px; 
    position: relative;
    z-index: 10; 
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
}

.mcs-info-text-container {
    padding-top: 50px;
}

.mcs-info-header-text {
    color: white; 
    text-align: center; 
    font-family: 'Kanit', sans-serif; 
    font-size: 30px;    
}

.mcs-info-body-text {
    color: white; 
    text-align: center; 
    font-size: 18px;
}

.mcs-info-image-container {
    background-image: url('/img/pages/mcs/blue_banner.png'); 
    min-height: 300px; 
    position: absolute; 
    background-position-x: 100%; 
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mcs-join-container {
    min-height: 300px; 
    position: relative;
    z-index: 10; 
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
}

.mcs-join-text-container {
    padding-top: 50px;
}

.mcs-join-header-text {
    color: white; 
    text-align: center; 
    font-family: 'Oregano', cursive; 
    font-size: 44px;
}

.mcs-join-body-text {
    color: white; 
    text-align: center; 
    font-size: 20px;
}

.mcs-join-image-container {
    background-image: url('/img/pages/mcs/red_banner.png'); 
    min-height: 300px; 
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mcs-join-text-container p {
    margin-bottom: 5px;
}

// Phone (Vertical)
@media screen and (max-width: 575px) {
    .mcs-join-header-text {
        color: black !important;
    }
    .mcs-join-body-text {
        color: black !important;
    }
    .mcs-join-text-container {
        padding: 50px;
    }
    .mcs-info-container {
        background-color: rgb(77, 82, 89);
    }
    .mcs-info-pic-container {
        padding: 0px; 
    }
    .mcs-info-image-container {
        background-position: top right;
    }
    .mcs-join-container {
        background-color: white;
    }
    .mcs-join-pic-container {
        padding: 0px; 
    }
    .mcs-join-image-container {
        background-position: top left;
    }
}

// Tablet
@media screen and (min-width: 576px) and (max-width: 768px) {
    .mcs-join-header-text {
        font-size: 30px;
    } 
    .mcs-info-image-container-inner {
        display: none;
    }
    .mcs-info-pic-container {
        display: none;
    }
    .mcs-info-image-container {
        background-position-x: 115%;
        opacity: 0.3;
    }
    .mcs-join-pic-container {
        display: none;
    }
    .mcs-join-image-container-inner {
        display: none;
    }
    .mcs-join-image-container {
        background-position-x: -25%;
        opacity: 0.3;
    }
}

// Laptop
@media screen and (min-width: 768px) and (max-width: 992px) {
    .mcs-info-image-container-inner {
        display: none;
    }
    .mcs-info-header-text {
        font-size: 24px;    
    }
    .mcs-info-body-text {
        font-size: 16px;
    }
    .mcs-join-image-container-inner {
        display: none;
    }
}

// Desktop 
@media screen and (min-width: 992px) {
    .mcs-info-image-container-inner {
        display: none;
    }
    .mcs-join-image-container-inner {
        display: none;
    }
}