/*extra small - max width */
@media (max-width: 767px)
{
  /*.hidden-xs { display: none!important; } */
  .mrec-xs { width:300px; height:250px; }
  .leaderboard-xs { width:728px; height:90px; }
  .mobile-xs { width:320px; height:50px; }
  .skyscraper-xs { width:120px; height:600px; }
  .banner-xs { width:468px; height:60px; }
}
  
/* small */
@media (min-width: 768px) and (max-width: 991px)
{
  /*.hidden-sm { display: none!important; } */
  .mrec-sm { width:300px; height:250px; }
  .leaderboard-sm { width:728px; height:90px; }
  .mobile-sm { width:320px; height:50px; }
  .skyscraper-sm { width:120px; height:600px; }
  .banner-sm { width:468px; height:60px; }
}
  
/* medium */
@media (min-width: 992px) and (max-width: 1199px)
{
  /*.hidden-md { display: none!important; } */
  .mrec-md { width:300px; height:250px; }
  .leaderboard-md { width:728px; height:90px; }
  .mobile-md { width:320px; height:50px; }
  .skyscraper-md { width:120px; height:600px; }
  .banner-md { width:468px; height:60px; }
}
  
/* large */
@media (min-width: 1200px)
{
  /*.hidden-lg { display: none!important; } */
  .mrec-lg { width:300px; height:250px; }
  .leaderboard-lg { width:728px; height:90px; }
  .mobile-lg { width:320px; height:50px; }
  .skyscraper-lg { width:120px; height:600px; }
  .banner-lg { width:468px; height:60px; }
}

/* OUR CUSTOM MEDIA QUERIES */

@media only screen and (max-width: 767px)
{
  body { font-size: 16px; }
  h1 { font-size: 36px; letter-spacing: 0.5px; }
  h2 { font-size: 28px; letter-spacing: 0.3px; }
  h3 { font-size: 24px; letter-spacing: normal; }
  h4 { font-size: 21px; }
  h5 { font-size: 19px; }
  h6 { font-size: 17px; }
  
  .cardname { text-align: center; font-size: 1.5em; }
  .hero { margin-top: 50px; position: static; }
  .rarity { height: 2rem; }
  .col-12.card-deck.header { max-width: 50%; }
  .card-img-top { max-height: 100px; min-height: 100px; } 
}

@media only screen and (max-width: 583px)
{
  .page-group-small   { display: flex; justify-content: center; }
  .page-group-default { display: none; }
}

@media only screen and (min-width: 583px)
{
  .page-group-small   { display: none; }
  .page-group-default { display: inline-flex; }
}

@media only screen and (max-width: 575px)
{
  body { font-size: 15px; }

  .button-row .btn-wrapper
  {
    width: 50%;

    .btn-decktype
    {
      > .decktype-display { font-size: 17px; }
      > .decktype-count   { font-size: 18px; }
    }
  }
}

@media only screen and (max-width: 480px)
{
  .button-row
  {
    width: calc(100% + 16px);
    margin-left: -8px;

    .btn-wrapper
    {
      padding-right: 8px;
      padding-left: 8px;
      margin-bottom: 14px;
  
      .btn-decktype 
      {
        > .decktype-display { font-size: 15px; }
        > .decktype-count   { font-size: 16px; }
      }
    }
  }

  .pagination
  {
    .page-item .page-link { padding-top: 3px; min-width: 33px; }

    &.previous .page-item .page-link,
    &.next .page-item .page-link
    {
      padding-top: 7px;
    }
  }
}

@media only screen and (max-width: 430px)
{
  body { font-size: 14px; }
  h1 { font-size: 28px; letter-spacing: normal; }
  h2 { font-size: 25px; letter-spacing: normal; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  .button-row
  {
    width: calc(100% + 14px);
    margin-left: -7px;

    .btn-wrapper
    {
      padding-right: 7px;
      padding-left: 7px;
      margin-bottom: 12px;

      > .decktype-new { width: 30px; }

      .btn-decktype 
      {
        height: 38px;

        > .decktype-card { height: 204%; clip: rect(0px, 46px, 70px, 0px); }
        > .decktype-display { font-size: 12px; padding-left: 40px; }
        > .decktype-count { font-size: 15px; margin-bottom: -2px; }
      }
    }
  }

  .pagination
  {
    margin-left: 0;
    margin-right: 0;

    &.pages
    {
      width: 100%;
      justify-content: center;
    }

    &.previous
    {
      width: 50%;
      justify-content: flex-end;
      padding-right: 8px;
    }

    &.next
    {
      float: left;
      width: 50%;
      padding-left: 8px;
    }
  }
}

@media only screen and (max-width: 320px)
{
  .button-row .btn-wrapper
  {
    > .decktype-new { width: 25px; }

    .btn-decktype 
    {
      line-height: 15px;

      > .decktype-display { padding-left: 38px; letter-spacing: 0px; }
      > .decktype-count   { font-size: 14px; }
    }
  }
}