.fa-bars
{
  color: $text-default;
}

.navbar
{
  padding: 4px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0 $black;
  background-color: $main-color-dark;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;

  .navbar-toggler
  {
    cursor: pointer;
    min-height: 48px;
  }

  .navbar-brand 
  {
    margin-right: 1.5rem;

    > img
    {
      height: 38px;
    }
  }

  .navbar-nav
  {
    text-align: center;   

    .nav-item .nav-link
    {
      font-family: "Alegreya-Medium";
    }
  }

  .container
  {
    margin-top: 0px;
    margin-bottom: 0px;

    .navbar-items
    {
      display: flex;
    }
  }
}

li.nav-item > a.nav-link
{
  color: $text-default;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

li.nav-item > a.nav-link:hover
{
  color: #78A9C1;
}

li.nav-item > a.nav-link.active,
li.nav-item > a.nav-link:focus
{
  color: $active;
}

.pagination
{
  margin-right: 14px;
  display: inline-flex;

  &:last-child
  {
    margin-right: 0px;
  }

  > .page-item
  {
    display: inline;

    &.active .page-link,
    {
      background-color: #2F7D9C;
      border-color: rgba(255, 255, 255, 0.08);

      &:hover
      {
        background-color: #2F7D9C;
      }
    }

    .page-link
    {
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 6px 4px;
      font-size: 19px;
      min-width: 37px;
      color: $text-muted;
      background-color: rgba(36, 59, 85, 0.4);
      border-color: rgba(255, 255, 255, 0.08);

      &:hover
      {
        background: rgba(255, 255, 255, 0.06);
        color: $text-muted;
      }

      .fa
      {
        font-size: 15px;
      }
    }

    &.previous .page-link,
    &.next .page-link
    {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}