.fa-bars
{
  color: $text-default;
}

.navbar
{
  padding: 4px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0 $black;
  background-color: $main-color-dark;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;

  .navbar-toggler
  {
    cursor: pointer;
    min-height: 48px;
    position: absolute;
    top: 5px;
    left: 5px;
    outline: 0;
  }

  .navbar-brand 
  {
    margin-right: 1.5rem;

    > img
    {
      height: 38px;
    }
  }

  .navbar-nav
  {
    text-align: center;   

    .nav-item .nav-link
    {
      font-family: "Alegreya Sans";
      font-weight: 500;
    }
  }

  .container
  {
    margin-top: 0px;
    margin-bottom: 0px;

    .navbar-items
    {
      display: flex;
    }
  }
}

li.nav-item > a.nav-link
{
  color: $text-default;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

li.nav-item > a.nav-link:hover
{
  color: #78A9C1;
}

li.nav-item > a.nav-link.active,
li.nav-item > a.nav-link:focus
{
  color: $active;
}

.pagination
{
  margin-right: 14px;
  display: inline-flex;

  &:last-child
  {
    margin-right: 0px;
  }

  .page-item
  {
    display: inline;

    &.active .page-link,
    {
      background-color: #2F7D9C;
      border-color: rgba(255, 255, 255, 0.08);

      &:hover
      {
        background-color: #2F7D9C;
      }
    }

    .page-link
    {
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 6px 4px;
      font-size: 19px;
      min-width: 37px;
      color: $text-muted;
      background-color: rgba(36, 59, 85, 0.4);
      border-color: rgba(255, 255, 255, 0.08);

      &:hover
      {
        background: rgba(255, 255, 255, 0.06);
        color: $text-muted;
      }

      .fa
      {
        font-size: 15px;
      }
    }
  }

  &.previous { float: left; }
  &.next { float: right; }

  &.previous .page-item .page-link,
  &.next .page-item .page-link
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// Adjust the navbar at a custom width for word spacing
@media only screen and (max-width: 887px)
{
  .navbar-expand-md .navbar-toggler {
    display: block;  
  } 
  .navbar
  {
    .navbar-nav
    {
      li.nav-item > a.nav-link { padding-top: 6px; }
      li.nav-item:last-child { margin-bottom: 6px; }
    }

    .navbar-brand  { margin-right: auto !important; margin-left: auto !important; }
  }
  .navbar-expand-md>.container {
    flex-wrap: wrap;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
  .navbar-expand-md .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-expand-md .navbar-collapse.collapse.show {
    display: block !important;
  }
  .navbar-expand-md .navbar-collapse.collapsing {
    display: block !important;
  }
  .navbar-expand-md>.container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 887px)
{
  .navbar-collapse {
    flex-basis: inherit;
  }
}

@keyframes delayed-fade
{
  55%  { opacity: 1; }
  100% { opacity: 0; }
}

.containernavbutton
{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3
{
    width: 38px;
    height: 5px;
    background-color:#D8D8D8;
    margin: 6px 0;
    transition: 0.3s;
}

.change .bar1
{
    -webkit-transform: translate(0px, 11px) rotate(-45deg);
    transform: translate(0px, 11px) rotate(-45deg);
}

.change .bar2 {transform: rotate(45deg)}

.change .bar3
{
    -webkit-transform: translate(0px, -11px) rotate(-45deg);
    transform: translate(0px, -11px) rotate(-45deg);
    animation: delayed-fade 0.3s forwards;
}