/* --- GENERAL TABLES --- */

table 
{
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    margin-top: 10px;
}

table thead 
{
    background: #243B55;
}

table tbody 
{
    background: rgba(36,59,85,.4);
}

table tbody tr:hover
{
    background: rgba(255, 255, 255, 0.03);
}

table tr th
{
    border: none !important;
}

table tr td 
{
    border-top: 1px solid rgba(255,255,255,0.08) !important;
    color: $text-default;
    font-weight: normal;
    color: $text-muted;
}

table th,
table td
{
    vertical-align: middle !important;
    padding: 10px !important;
}

table .thumb-col
{
    width: 58px;
    padding: 4px !important;
}

table .thumbnail 
{
    height: 46px; 
    width: 46px;
    margin-right: 0px;
}

table img
{
    max-width: 100%;
}

/* ---------------------- */



/* -- SPECIFIC TABLES --- */

#TopDecksTable
{
    th
    {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    td
    {
        padding: 0px !important;
        height: 54px;
    }

    tbody tr td a
    {
        padding: 4px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $text-muted;
        text-decoration: none;
    }

    .name   { text-align: left; }
    .skill  { width: 20%; }
    .author { width: 20%; }
    .added  { width: 10%; }
}

@media only screen and (max-width: 480px)
{
    #TopDecksTable
    {
        th, td  { word-break: break-all; line-height: 15px; }
        .name   { display: none; }
        .skill  { width: auto; }
        .author { width: auto; }
        th.added { width: 54px; }
        td.added { width: auto; padding-left: 5px !important; padding-right: 5px !important; }
    }
}

table.content-only
{
    margin-left: -10px;
    margin-right: -10px;
}

table.content-only,
table.content-only td
{
    border: none !important;
}

table.content-only thead,
table.content-only tbody,
{
    background-color: transparent;
}

/* ---------------------- */