.nav-tabs
{
  border-bottom: 1px solid $dark-line;

  li.nav-item > a.nav-link
  {
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 4px;
    min-width: 120px;
    text-align: center;
    border: none;

    transition: color .3s cubic-bezier(.55,0,.1,1);
    transition: width .3s cubic-bezier(.55,0,.1,1);

    &.active,
    {
      background: none;
      border-bottom: 2px solid $active;
    }

    &:hover
    {
      background: none;
    }
  }
}