
/* ------------------------ */
/* ---- TOP DECK TABLE ---- */
#TopDeckTable 
{
    border: 1px solid rgba(255,255,255,0.08);
    margin-top: 10px;
}
#TopDeckTable thead 
{
    background: #243B55; 
}
#TopDeckTable tbody 
{
    background: rgba(36,59,85,.4); 
}
#TopDeckTable thead tr th 
{
    border: none;
}
#TopDeckTable tbody tr th 
{
    border-top: 1px solid rgba(255,255,255,0.08);
    color: #868e96;
    font-weight: normal;
}  
#TopDeckTable tbody tr th .row 
{
    align-items: center; 
}
#TopDeckTable tbody tr th .row .thumbnail 
{
    height: 35px; 
    width: 35px;
}

#TopDeckTable a
{
    color: $text-default;
}

/* ---- FILTER ROW ---- */
#filterTypeRow 
{
    margin-top: 1rem;
}
#filterTypeRow .thumbnail 
{
    height: 35px; 
    width: 35px;
}
#filterTypeRow .col-lg-1 
{
    max-width: 100px;
}

#filterTypeRow .thumbnail {
    margin: auto;
}

#filterTypeRow p {
    font-size: 12px;
    text-align: center;
    padding-top: .5rem;
}