$white:       #FFFFFF;
$black:       #000000;
$dark-blue:   #141E30;
$grey-blue:   #243B55;
$grey-blue2:  #223750;
$grey-blue3:  #2A486B;
$grey-blue4:  #2D4673;
$blue:        #0056B3;
$flashy-blue: #007BFF;

/* too many blues x.x */




/* new coloring */
/* from now on we will name colors to their function, not to the name of the colors itself */
/* try not to make a lot of variations to the same color, instead derive from eachother */

$main-color-dark: #001427;
$main-color-light: #002142;

$text-default: #D8D8D8;
$text-muted:   #B5B5B5;


$monster: #D07348;
$spell:   #0B9797;
$trap:    #C031A2;
$fusion:  #5D3A7E;