@import "variables.scss";

/*.container
{
  border: 1px solid white;
  height: auto !important;
}*/

/*https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio*/
/*https://www.w3schools.com/howto/howto_css_aspect_ratio.asp*/

.card-collection
{
  .card-container
  {
    text-align: left;
    margin-bottom: 32px;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    /*&.col-sm-6 .cover
    {
      width: 508px;
      height: 179px;
      object-fit: contain;
    }

    &.col-sm-4 .cover
    {
      width: 334px;
      height: 179px;
      object-fit: contain;
    }*/

    .article-card
    {
      background-color: rgba(8, 13, 120, 0.05);
      box-shadow: 0 0 4px 0 $black;
      color: $text-default;

      -moz-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: all 0.4s;
      
      &:hover
      {
        -webkit-transform: translateZ(43px);
        transform: translateZ(43px);
      }

      a
      {
        text-decoration: none;
        color: $text-default;
      }

      .cover
      {
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(105, 119, 189, 0.33);
      }

      .information
      {
        position: absolute;
        bottom: 6px;
        width: 100%;
        padding: 0 8px 4px 8px;
        background: rgba(33, 33, 33, 0.75);

        p
        {
          margin: 0;
          text-align: left;
        }

        .title
        {
          font-size: 29.6px;
          width: 100%;
          margin-bottom: 2px;
          padding-top: 5px;
          line-height: 30px;
          text-transform: uppercase;
          text-shadow: 1.5px 1.5px 2px rgba(14, 37, 128, 0.9);
          letter-spacing: -0.8px;
        }

        .sub-text
        {
          width: 100%;
          line-height: 16px;
          font-size: 13.6px;

          > *
          {
            float: left;
            margin-right: 4px;
          }
        }

        .authors
        {
          font-size: 13.6px;
          line-height: 16px;
          
          .author
          {
            font-weight: 600;
            text-shadow: 0px 0px 3px rgb(0, 0, 0);

            &:after
            {
              margin-left: -2px;
              margin-right: 2px;
            }
            
            &:nth-last-child(2)::after
            {
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}

@mixin ribbon-color($color)
{
  background: $color;

  &:after
  {
    border-left-color: $color;
  }
}

.ribbon
{
  font-size: 1rem;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 8px;
  position: absolute;
  background: grey;
  left: -8px;
  top: 5px;
  -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, .9));
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, .9));
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.80);

  &:before, &:after { content: ""; position: absolute; }

  &:before
  {
    height: 0;
    width: 0;
    top: $ribbon-height;
    left: 0.1px;
    border-top: 9px solid black;
    /*border-top: 9px solid rgba(20, 50, 180, 0.6);*/
    border-left: 7px solid transparent;
  }

  &:after
  {
    height: 0;
    width: 0;
    right: -10px;
    border-top: $ribbon-height/2 solid transparent;
    border-bottom: $ribbon-height/2 solid transparent;
    border-left: 10px solid grey; 
  }

  &.event { @include ribbon-color(#22AF00) }
  &.farming  { @include ribbon-color(#B93FD8) }
  &.news  { @include ribbon-color(#A72400) }
  &.website-update  { @include ribbon-color(#A91B53) }
  &.guide-competitive  { @include ribbon-color(#C37700) }
  &.guide-deck-type  { @include ribbon-color(#C37700) }
  &.guide-new-players  { @include ribbon-color(#C37700) }
  &.review-box  { @include ribbon-color(#CEAF0D) }
  &.review-deck  { @include ribbon-color(#CEAF0D) }
  &.review-structure-deck  { @include ribbon-color(#CEAF0D) }
  &.tier-list-deck-type  { @include ribbon-color(#32809E) }
  &.tier-list-update  { @include ribbon-color(#315FF5) }
  &.tournament-report  { @include ribbon-color(#6C3799) }
  &.tournament-announcement  { @include ribbon-color(#6C3799) }
}

.authors
{
  
  .author
  {
    color: inherit;
    
    &:hover { text-decoration: underline; }
    &.no-role { color: $active; }
    &.no-profile
    {
      pointer-events: none;

      &:hover { text-decoration: none; }
    }

    &:after
    {
      content: ",";
      display: inline-block;
    }
    
    &:nth-last-child(2)::after
    {
      content: "and";
    }

    &:last-child::after
    {
      content: "";
    }
  }
}

@media only screen and (max-width: 1080px)
{ 
  .card-collection .card-container .article-card .information .title
  {
    font-size: 2.74vw;
  }

  .card-collection .card-container .article-card .information .sub-text
  {
    font-size: 1.26vw;
  }
}

@media only screen and (max-width: 575px)
{ 
  .card-collection .card-container .article-card .information .title
  {
    font-size: 5.48vw;
  }

  .card-collection .card-container .article-card .information .sub-text
  {
    font-size: 2.52vw;
  }
}
