@import "variables.scss";
/* --- FRONT PAGE CARDS --- */ /* PLS RENAME :( SO CONFUSING */
.card
{
  border-radius: 2px;
  background-color: rgba(8, 13, 120, 0.05);
  box-shadow: 0 0 2px 0 $black;
  margin-bottom: 20px !important;
}

.card:after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
  pointer-events: none;
  border-radius: 2px;
}

.card-img-top
{
  object-fit: cover;
  width: 100%;
  max-height: 120px;
  min-height: 180px;
}

.card-block
{
  padding: .8rem;

  a:hover
  {
    text-decoration: none;
  }

  small
  {
    font-size: 70%;
  }
}

.featured-icon{
  position:absolute;
  right:0px;
  top:0px;
  width:180px;
  height:128px;
}

.card-title
{
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.maincard {
  background-size: cover;
  height: 180px;
  width: 100%;
  box-shadow: 1px 1px 4px black;
  border-radius: 5px;
  background-position: top center;
  display: block;
  transition: transform .3s;
}

.maincard:hover {
  transform: scale(1.2);
  text-decoration: none;  
}

.maincover {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: relative;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.covertitle-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.covertitle {
  font-weight: bold;
  color: #c8c8c8;
  margin: .67em 0;
  transition: color .3s ease;
  transition: background-color .3s ease;
  transition: padding .3s ease;
}

.maincover:hover {
  background-color: rgba(0,0,0,.2);
  transition: background-color .3s ease;
  .covertitle {
    color: white;
    background-color: rgba(darken($header-background, 5), .9);
    width: 100%;
    padding: 15px 0; 
    transition: background-color .3s ease; 
    transition: color .3s ease;
    transition: padding .3s ease;
  }
}

.maincard-text {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
  align-content: stretch;
  width: 100%;
  position: absolute;
  top: 80%;
}

.author-text {
  background-color: rgba(0,0,0,.5);
  padding: 0 10px;
  border-bottom-right-radius: 5px;
}

.author-date {
  font-size: 70%;
  font-family: sans-serif;
  color: rgb(200,200,200);
  margin-bottom: 1em;
  margin-top: 1em;
}

.header-wrapper {
  overflow: hidden;
}

@media (max-width: 945px) {
  .maincard .covertitle {
      margin-top: 25%;
      font-size: 1.2em;
  }
}
/* ------------------------ */


/* ----- ACTUAL CARDS ----- */
.card-hover
{
  color: $flashy-blue;
  /*font-weight: bold;*/ /* looks better without */
  cursor: pointer;
}

.card-hover:focus,
.card-hover:hover
{
  color: $blue;
  cursor: pointer !important;
}

.cardlist
{
  margin-right: auto;
  margin-left: 1rem;
}

.cards
{
  background-color: $dark-blue;
  padding: .75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:$white;
}

.rarity
{
  height: 1rem;
  float: right;
}

/*.monster
{
  color: $monster;

  &:hover,
  &:focus
  {
    color: darken($monster, 10%)
  }
}

.spell
{
  color: $spell;

  &:hover,
  &:focus
  {
    color: darken($spell, 10%)
  }
}

.trap
{
  color: $trap;

  &:hover,
  &:focus
  {
    color: darken($trap, 10%)
  }
}

.fusion
{
  color: $fusion;

  &:hover,
  &:focus
  {
    color: darken($fusion, 10%)
  }
}*/
/* ------------------------ */


/* ------- TOOLTIP -------- */
.ctooltip
{
  position: relative;
  display: inline-block;

  .ctooltiptext
  {
    visibility: hidden;
    width: 100%;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    pointer-events: none;
  
    img
    {
      max-width: 375px;
    }
  }

  &:hover .ctooltiptext
  {
    visibility: visible;
    opacity: 1;
  }
}

.rtooltip .rtooltiptext
{
  top: -5px !important;
  left: 105% !important; 
}
/* ------------------------ */


/* ------ THUMBNAIL ------- */

.thumbnail
{
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 1rem;

  img
  {
    position: absolute;
  }

  span p
  {
    flex-grow: 2;
  }
}
/* ------------------------ */

/* ------ MORE ARTICLES ------- */

.articleButton {
  width: 100%;
  cursor: pointer;
}

.articleButton:focus {
  box-shadow: none;
}

.articleButton:disabled {
  cursor: default;   
}

.articleButton:disabled:hover {
  background-color: #007bff;
}

.articleButtonColumn {
  padding-left: 10px;
  padding-right: 10px;
}

/* ------------------------ */