@import "variables.scss";
/* --- GENERAL TABLES --- */

table 
{
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    margin-top: 10px;
    width: 100%;

    thead 
    {
        background: #243B55;
    }
    
    tbody 
    {
        background: rgba(36,59,85,.4);
    }
    
    tr th
    {
        border: none !important;
    }
    
    tr td 
    {
        border-top: 1px solid rgba(255,255,255,0.08) !important;
        color: $text-default;
        font-weight: normal;
        color: $text-muted;
    }
    
    th,
    td
    {
        vertical-align: middle !important;
        padding: 10px
    }
    
    .thumb-col
    {
        width: 58px;
        padding: 4px !important;
    }
    
    .thumbnail 
    {
        height: 46px; 
        width: 46px;
        margin-right: 0px;
    }
    
    img
    {
        max-width: 100%;
    }
}

/* ---------------------- */



/* -- SPECIFIC TABLES --- */

#TopDecksTable
{
    //needs more testing, weird bug
    th
    {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    //can be general
    td
    {
        padding: 0px !important;
        height: 54px;
    }

    //remains here
    .name   { text-align: left; }
    .skill  { width: 20%; }
    .author { width: 20%; }
    .added  { width: 10%; }
}

@media only screen and (max-width: 480px)
{
    #TopDecksTable
    {
        th, td  { word-break: break-all; line-height: 15px; }
        .name   { display: none; }
        .skill  { width: auto; }
        .author { width: auto; }
        th.added { width: 54px; }
        td.added { width: auto; padding-left: 5px !important; padding-right: 5px !important; }
    }
}

.top-decks-stats
{
    .display    { width: 76%; }
    .count      { width: 12%; text-align: right; }
    .percentage { width: 12%; text-align: right; }
}

.guides-table
{
    .thumb-col
    {
        padding: 0px !important;

        .thumbnail
        {
            height: 40px;
            width: 80px;

            img { top: 45%; }
        } 
    }

    .category { width: 15%; }
    .author   { width: 15%; }
    .modified { width: 15%; }
}

table.content-only
{
    margin-left: -10px;
    margin-right: -10px;

    &,
    td
    {
        border: none !important;
    }

    th
    {
        padding-bottom: 0px;
        text-transform: uppercase;
        font-weight: normal;
        font-size: larger;
    }

    thead,
    tbody,
    tbody tr:hover
    {
        background-color: transparent;
    }

    tbody tr:first-child td
    {
        padding-top: 3px;
    }

}

table.hover tbody tr:hover,
table.collapsable thead tr:hover
{
    background: rgba(255, 255, 255, 0.03);
}

table.row-links
{
    tbody tr td a
    {
        padding: 4px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $text-muted;
        text-decoration: none;
    }
}

table.collapsable
{
    thead tr
    {
        cursor: pointer;
    }

    &.collapsed
    {
        tbody
        {
            display: none;
        }
    }
}

table.stats
{
    th, td
    {
        padding: 3px;
    }

    th
    {
        font-weight: normal;
        text-transform: uppercase;
    }

    td
    {
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 0px;
    }

    tr th:first-child
    {
        padding-left: 10px;
    }

    tr td:first-child
    {
        padding-left: 20px;
    }

    tr th:last-child,
    tr td:last-child
    {
        padding-right: 10px;
    }
}

/* ---------------------- */