
{% comment %} 
  = O-P-T-I-O-N-S =
  1: Show Featured
  2: Hide Article
  3: Don't show ribbon
  4: Don't show date
  5: Don't show author
  6: 3 columns i/o 2
  7: timeago date
{% endcomment %}

{% if include.article %}

  {% assign article = include.article %}
  {% assign options = include.options | remove: " " | split: ',' %}

  {% if include.date %} {% assign date = include.date %} {% else %} {% assign date = article.date %} {% endif %}

  {% if options contains '2' %} {% assign display = "hidden" %} {% endif %}
  {% if options contains '6' %} {% assign columns = "col-sm-4" %} {% else %} {% assign columns = "col-sm-6" %} {% endif %}
  {% if options contains '7' %} {% assign formattedDate = date | timeago %} {% else %} {% assign formattedDate = date | date: "%B %d, %Y" %} {% endif %}

  <div class="card-container {{columns}} col-12 {{display}}">
    <div class="article-card ">
      <a href="{{article.url}}">
        <img class="cover lazyload" src="{{article.image}}">
        {% if options contains '1' %}
          <img src="/img/assets/featured.png" class="featured-icon">
        {% endif %}
        {% unless options contains '3' %}
          {% include articles/ribbon.html cat=article.category sub-cat=article.sub-category %}
        {% endunless %}
        <div class="information">
          <p class="title">{{article.title}}</p>
          <p class="sub-text">
            {% unless options contains '4' %}
              <span>Last updated: </span>
              <span>{{formattedDate}} </span>
            {% endunless %}
            {% unless options contains '5' %}
              <span>by </span>
              {% include articles/authors.html authors=article.author %}
            {% endunless %}
          </p>
        </div>
      </a>
    </div>
  </div>

{% endif %}