<div class="decktype-guide">
    <div class="section header">
        <h2>INTRODUCTION TO {{guide.deck-type | upcase }}</h2>
        {% if guide.created-by != null %}
            <h4>by {{guide.created-by}}</h4>
        {% endif %}
    </div>

    <div class="section">
        <h3>Last Updated</h3>
        <p>{{guide.modified-on}} by 
        {% if guide.profile != null and guide.profile != "" %}
            <a href="/authors/{{guide.profile}}/">{{guide.modified-by}}</a>
        {% else %}
            {{guide.modified-by}}
        {% endif %}</p>
    </div>

    {% if guide.image != null %}
        <img class="splash" src="/img/guides/{{guide.image}}">
    {% endif %}
    
    {% for section in guide.sections %}
        {% include guides/section.html section=section level=1 %}
    {% endfor %}

    {% if guide.guides != null %}
        <div class="section">
            <h3>Guides</h3>
            <ul>
                {% for deckTypeGuide in site.categories.deck-type-guide %}
                    {% assign link = deckTypeGuide.permalink | remove: "/guides/" | remove: "/" %}
                    {% if guide.guides contains link %}
                        <li><a href="{{deckTypeGuide.permalink}}">{{deckTypeGuide.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if guide.videos != null %}
        <div class="section">
            <h3>Videos (todo: layout like /stream)</h3>
            <ul>
                {% for video in guide.videos %}
                    <li><a href="{{video}}">{{video}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>