<!DOCTYPE html>
<html>
  
  {% include head.html %}
  
  <body>

    <div id="fb-root"></div>

    <script>
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1815513031811368";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));
    </script>

    {% include nav.html %}

    <div class="page-wrapper scrollbar">
      <div class="container">

        {% include ad.html %}

        {% include banner.html %}

        <div class="col text-white" style="margin-top: 20px;">
          <h1 class="text-center" style="margin: 2rem 0">{{page.author}}</h1>
          <div class="row">
            <div class="col-sm">
              <img width="200px" style="margin:auto;display:block;margin-bottom:1rem;" src='{{page.image}}' class="img-fluid text-center" />          
            </div>
            <div class="col-sm-8">
              {% if page.about %}
                <p><b>About:</b> {{page.about}}</p>
              {% endif %}
              {% if page.accomplishments %}
                <b>Accomplishments:</b>
                <ul>
                  {% assign accolades = page.accomplishments | split: "," %}
                  {% for accolade in accolades %} 
                    <li>{{ accolade }}</li>
                  {% endfor %}     
                </ul>
              {% endif %}

              {% if page.twitch %}
                <a href="{{page.twitch}}" target="_blank" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color:#6441A4; "></i>
                  <i class="fa fa-twitch  fa-stack-1x" style="color:white; "></i>
                </a>
              {% endif %} 

              {% if page.facebook %}
                <a href="{{page.facebook}}" target="_blank" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color:#3B5998;"></i>
                  <i class="fa fa-facebook  fa-stack-1x" style="color:white;"></i>
                </a>
              {% endif %}  

              {% if page.youtube %}
                <a href="{{page.youtube}}" target="_blank" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color:#FF0000;"></i>
                  <i class="fa fa-youtube  fa-stack-1x" style="color:white;"></i>
                </a>
              {% endif %}

              {% if page.twitter %}
                <a href="{{page.twitter}}" target="_blank" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color:#00aced;"></i>
                  <i class="fa fa-twitter  fa-stack-1x" style="color:white;"></i>
                </a>
              {% endif %}

              {% if page.instagram %}
                <a href="{{page.instagram}}" target="_blank" class="fa-stack fa-lg fa-1x">
                  <i class="fa fa-square fa-stack-2x" style="color: #3B5998;"></i>
                  <i class="fa fa-instagram fa-stack-1x" style="color:white;"></i>
                </a>
              {% endif %}
            </div>
          </div>

          <!-- This needs to be rewritten to a better filter. I fear we'll have to resort back to a for loop.
               The filter here is not accurate enough as for example an author with name "yami" will both match
               with articles written by "yami hammy" and "yami yugi"-->
          {% assign articles = site.posts | where_exp: "item", "item.author contains page.author" | where_exp: "item", "item.hidden != true" | sort: "date" | reverse %}

          {% if articles != null and articles.size != 0 %}
            <div class="section center">
                <h2>Guides / Articles</h2>
                <div class="row card-collection">
                    {% for article in articles %}
                        {% include articles/article.html article=article options='5' %}
                    {% endfor %}
                </div>
            </div>
          {% endif %}
        </div>

        {% include social.html %}
        {% include footer.html %}

      </div>
    </div>

  </body>

  {% include scripts.html %}

</html>