<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div id="fb-root"></div>

        <script>(function(d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1815513031811368";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));
        </script>

        {% include nav.html %}

        <div class="page-wrapper scrollbar">
            <div class="container">

                {% include ad.html %}

                {% include banner.html %}

                <div class="text-white markdown" style="margin-top: 20px;">           
                    {{content}}
                </div>

                {% if page.comments == true %}
                    <div class="text-white">
                        {% include facebook.html %}
                    </div>
                {% endif %}

                {% include social.html %}

            </div>
        </div>

        {% include mobile_popup.html %}

    </body>

    {% include scripts.html %}

</html>