<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Duel Links Meta </title>
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="icon" sizes="192x192" href="{{site.url}}/img/favicon.png">
        <meta name="theme-color" content="#141e30">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
            <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.url}}/css/style.css">
        <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css">
    </head>



<body>

    {% include nav.html %}

    <div class="container">

        {% include logo.html %}

        <div class="col text-white" style="margin-top: 20px;">
            {{content}}
        </div>

        <div class="col text-white">
            {% include comments.html %}
        </div>

        <div class="col text-white">
            {% include comment.html %}
        </div>

        {% include social.html %}

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>


</html>