<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include nav.html %}

        <div id="pageContent" class="page-wrapper scrollbar">
            <div class="container">

                {% include ad.html %}

                {% include banner.html %}

                {% include header.html %}
                
                {% include latest-articles.html %}
                
                {% include social.html %}
                {% include footer.html %}

            </div>
        </div>
        
        {% include article.html %}
    </body>

    {% include scripts.html %}

</html>