<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include nav.html %}

        <div class="page-wrapper scrollbar">
            <div class="container">

                {% include ad.html %}

                {% include banner.html %}

                {% include header.html %}
                
                {% include cards.html %}
                
                {% include social.html %}

            </div>
        </div>
        
    </body>

    {% include scripts.html %}

</html>